@import "../../common/style/variables";
@import "bourbon";

.category {
	a {
		&:hover {
			h1, h2, h3, h4, h5, h6{
				color: $primary-blue;
				text-decoration: none;
			}
		}
	}
	& .btn.btn-header {
		color: #FFFFFF;
		background-color: $primary-blue;
		&:hover {
			background-color: $secondary-blue;
		}
	}
	& .header-buttons {
		& select {
			color: $primary-blue;
		}
	}
	& .presentation-thumbnail {
		height: 270px;
		width: 100%;
		border: solid 1px $primary-grey;
		& .presentation-img { 
			width: 100%;
			height: 250px;
		}
	}
	& .details-button {
		color: #FFFFFF;
		background-color: $primary-blue;
		&:hover { background-color: $secondary-blue; }
		width: 100%;
	}
	& article {
		z-index: 500;
		& .article-img { width: 100%; }
		& .article-title { color: $primary-blue; }
		& .article-description { color: #000000; }
	}
	& .articles-link {
		color: $primary-blue;
		text-decoration: underline;
	}
	& article.article-expanded {
		padding-right: 15px;
		overflow: hidden;
		& .article-img {
			width: 100%
		}
		& .no-margin-right {
			margin-right:0px;
		}
		& .pad-right-min {
			padding-right: 1px;
		}
		& .article-heart {
		    width: 30px;
   			height: 30px;
			float: right;
			margin-left: 10px;
		}
	}
	& .article-details-container {
		height: 85px;
        overflow: hidden;
	}
	& .article-details {
		overflow: hidden;
	}
	& .article-cover {
		@include transition(left 0.2s ease-in-out);
		& .contact-form-title { margin-top: -15px; }
		background-color: white;
		position: absolute;
		height: 130px;
		bottom: 0px;
		margin-bottom: 50px;
		&.opened { left: 0px; }
		&.closed { left: 700px; }
	}
	& ul#custom-pag {
		text-align: center;
		list-style: none;
		li {
			display: inline-block;
			a {
				color: #FFFFFF;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				margin: 5px;
				padding: 5px 10px 5px 10px;
				background-color: $primary-blue;
				&:hover {
					cursor: pointer;
					text-decoration: none;
					background-color: $secondary-blue;
				}
			}
		}
	}
	& .related-links {
		& .border-right-sm {
			@media(min-width:767px) {
				border-right: solid 2px $primary-grey;
			}
		}
		a {
			color: #000000;
			&:hover {
				color: $primary-blue;
				cursor: pointer;
				text-decoration: none;
			}
		}
	}
	& .category-products {
		& .product-thumbnail {
			width: 90%;
			float: left;
		}
		& .details-button {
			margin-right: 15px;
		}
	}
}
@media(max-width: 767px) {
	#stickyBottomReference , .no-md-left-margin {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.simple-article {
	a.fixed { width: 140px; display:inline-block; }
	&.match-height {
		@media(min-width:767px) {
			display: flex;
		    flex-direction: row;
		    justify-content: flex-end;
	    }
	}
	& .simple-article-content { 
	}
	& .simple-article-cover {
		@include transition(left 0.2s ease-in-out);
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background-color: #FFFFFF;
    	&.closed { left: 750px; }
    	&.opened { left: 0px; }
	}
}
.last-row {
	.bottom-logo img.responsive {
		height: 70px;
	}
	.text-link {
		border: solid 1px #000000;
		h2 {
			background-color: $primary-grey;
			color: #000000;
			height: 50px;
			margin: 10px;
		}
	}
}
.simple-article-ad img {
    width: 100%;
    height: auto;
}