@import "variables"; 
    
body {
	color: #FFFFFF;
    font-family: $font-primary;
    & .modal-open {
    	overflow: hidden;
    }
}

a:hover { cursor:pointer; }

.label-default { background-color: $primary-grey; }

.label-primary { background-color: $primary-blue; }

.label-secondary { background-color: $secondary-blue; }

.label-tertiary { background-color: $tertiary-blue; }

.text-default { color: $primary-grey; }

.text-primary { color: $primary-blue; }

.text-secondary { color: $secondary-blue; }

.text-tertiary { color: $tertiary-blue; }

.margin {
	&-right- {
		&sm { margin-right: 5px; }
		&md { margin-right: 10px; }
		&lg { margin-right: 15px; }
	}
	&-left- {
		&sm { margin-left: 5px; }
		&md { margin-left: 10px; }
		&lg { margin-left: 15px; }
	}
	&-top- {
		&sm { margin-top: 5px; }
		&md { margin-top: 10px; }
		&lg { margin-top: 15px; }
	}
	&-bottom- {
		&sm { margin-bottom: 5px; }
		&md { margin-bottom: 10px; }
		&lg { margin-bottom: 15px; }
	}
	&-sm { margin: 5px; }
	&-md { margin: 10px; }
	&-lg { margin: 15px; }
}
.no-margin {
	margin: 0px;
	&-right { margin-right: 0px; }
}

.pad {
	&-right- {
		&sm { padding-right: 5px; }
		&md { padding-right: 10px; }
		&lg { padding-right: 15px; }
	}
	&-left- {
		&sm { padding-left: 5px; }
		&md { padding-left: 10px; }
		&lg { padding-left: 15px; }
	}
	&-top- {
		&sm { padding-top: 5px; }
		&md { padding-top: 10px; }
		&lg { padding-top: 15px; }
	}
	&-bottom- {
		&sm { padding-bottom: 5px; }
		&md { padding-bottom: 10px; }
		&lg { padding-bottom: 15px; }
	}
	&- {
		&sm { padding: 5px; }
		&md { padding: 10px; }
		&lg { padding: 15px; }
	}
}
.no-pad { 
	padding: 0px;
	&-left {
		padding-left: 0px;
	}
}

.left {text-align: left;}

.btn {border-radius: 0px;}

header {
	&.sticky {
		position: fixed;
		background-color: white;
		top: 0;
		z-index: 9999;
		left: 50%;
		@media(min-width:1000px) and (max-width:1200px)  { margin-left: -485px; }
		@media(min-width:1200px){ margin-left: -585px; }
		@media(max-width:1000px) { display: none; }
		@include transition(top 0.3s ease-in-out);
	}
	.social-icons {
		span {	
			width: 20px;
			height: 20px;
			float: left;
			margin-top: 3px;
			display: inline-block;
			background-size: auto 100%;
			background-image: url("../../../common/imgs/social-icons.svg");

			&.fb-link {	background-position: 0px 0px; width: 12px;}
			&.instagram-link {	background-position: -15px 0px; }
			&.gplus-link {	background-position: -60px 0px; }
			&.youtube-link {	background-position: -40px 0px; }
		}
	}
	.search-box {
		background-color: $secondary-blue;
		border-radius: 2px;
		color: #FFFFFF;
		input { height: 34px; margin-top: -5px; }
		i { 
			@media (min-width: 768px) {
				& { float: left; }
		    }
		    @media (max-width: 768px) {
				& { 
					display: block;
					margin-left: auto;
					margin-right: auto;
				}
		    }
			width: 20px;
			height: 20px;
            margin-top: 3px;
			background-size: 20px 100%;
			background-image: url("../../../common/imgs/search.svg");
		}
		input, input:focus { 
			background-color: $secondary-blue;
			outline: none;
			width: 84%;
			border-style: none;
		}
	}
	.page-links {
		a {
			color: #FFFFFF;
			padding-left: 10px;
			padding-right: 10px;
			float: right;
			&:first-child { margin-right: 45px; }
			&:not(first-child) { margin-right: 10px; }
			&:hover {
				background-color: $tertiary-blue;
				color: #FFFFFF;
			}
        }
        .active {
           background: $dark-blue; 
		}
	}
	.logo {
		@media (max-width: 768px) {
			& { margin: auto; }
	    }
		height: 49px;
		width: 114px;
		background-size: 114px 100%;
		background-image: url("../../../common/imgs/logo.svg");
	}
	.menu-bar {
		text-align: left;
		padding-top: 5px;
		i { cursor: pointer; }
	}

	.master-menu {
		> div {
			padding: 0;
			margin: 0;
			@media (max-width: 	991px) {
				@include transition(max-height 0.5s ease-in-out);
			    overflow: hidden; 
				&.closed { max-height: 0px; }
				&.expanded { max-height: 1110px; }
			}
		}
		nav {
			margin: 0px;
			ul.nav.navbar-nav { 
				width: 100% ;
				margin: 0px;
				> li {
					min-height: 50px;
					@media (max-width: 	991px) { & { width: 100%; } }
					@media (min-width: 	991px) { & { width: 12.5%; } }
					& .cell { 
						@media (max-width: 	767px) { margin-top: -25px; } 
						@media (max-width: 	991px) { width: 100%; } 
						@media (min-width: 	991px) { width: 12.5%; } 
						z-index: 9999999;
						position: absolute; 
						margin-top: -26px;
						display: none;
						i { left: 50%; }
					}
					&.open  { 
						.cell { 
							display: block;
							margin-top: -18px;
						}
					} 
					&:nth-child(3n+1)  { 
						background-color: $primary-blue;
						.cell:nth-child(n) { color: $primary-blue; } 
					}
					&:nth-child(3n+2)  { 
						background-color: $tertiary-blue;
						.cell:nth-child(n) { color: $tertiary-blue; }
					}
					&:nth-child(3n+3)  { 
						background-color: $secondary-blue;
						.cell:nth-child(n) { color: $secondary-blue; }
					}
					a.dropdown-toggle, a.dropdown-toggle:hover {
						color: #FFFFFF;
						background-color: inherit;
						cursor: pointer;
					}
					&.open ul.dropdown-menu {
						li.no-bullet {
							list-style: none;
						}
						@media (max-width: 	990px) {
							position: relative;
							height: auto;
							width: 100%;
						}
						@media (min-width: 	991px) { 
							position: absolute; 
							height: 170px;
						}
						background-color: #FFFFFF;

					li.dropdown {
							margin-top: -2px;
						    overflow: hidden; 
							height: 0px;
							width: 100%;
							z-index: 2;
							&:hover ul.dropdown-menu {
								display:block;
							}
						}
					}
				}
			}
		}
		
		.sub-menu-content {
			@media (min-width: 	991px) { height: 160px; }
			@media (max-width: 	991px) { 
			 	height: auto;
				.col-md-2 {
					padding-top: 0px;
					padding-bottom: 0px;
				} 
			}
			padding: 0px;
			li {
				color: $dark-grey;
				a, a:hover {
					font-family: $font-stack;
					color: $dark-grey;
					cursor: pointer;
					text-decoration: none;
				}	
			}
			.category-image {
				margin-top: -5px;
				margin-bottom: -5px;
				height: 168px;
				width: auto;
				float: left;
			}
		}
	}
}

.home-message {
	background-color: $primary-grey;
	color: #000000;
    h1 {
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 0px;
        color: $dark-blue;
    }
}
.max-height {
	height: 100%;
}
.margin-top-lg-sm {
	@media(min-width:767px) {
		margin-top: 15px;
	}
}
.pad-right-lg-35 {
	@media(min-width: 1200px) {
		padding-right: 35px;
	}
}
.cover-control-buttons {
		@media(min-width: 1200px) {
			margin-top: -33px;
		}
		@media(min-width: 1000px) and (max-width: 1200px){
			margin-top: -33px;
		}
		a:hover {
			color: #FFFFFF;
		}
}
.match-col-height {
	display: flex;
	& > div {
		&:not(.auto-height) {}
		&.auto-height{
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
			margin-right: 15px;
		}
	}
}
.no-left-pad {
	padding-left: 0px;
}
.no-right-pad {
	padding-right: 0px;
}
img.responsive {
	width: 100%;
}

footer {
	background-color: $primary-grey;
	.categories {
		a {
			color: #000000;
			&:not(:last-child)::after {
				content: "\00a0\00a0\00a0\00a0\00a0|";
			}
			&:hover {
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
	.copyright {
		background-color: $primary-blue;
		color: #FFFFFF;
	}
}


.controls-fixed {
  background-color:rgba(0, 0, 0, 0.1);
  bottom:auto;
  left:0;
  padding:10px 15px;
  position:fixed;
  top: 0;
  width:100%;
}

.choice {
    padding: 0px;
    height: 20px;
    input[type='radio'] {
    	display: none;

		opacity: 0;
	    width: 18px;
	    & + .label {
	    	display: block;
		    margin: 0;
	    	float: right;
		    clear: none;
		    padding: 9px 11px 20px 10px;
		    cursor: pointer;
		    background: url('../../../common/imgs/radio-btn-empty.svg') left center no-repeat;
		    background-size: 15px;
    	}
    	&:checked + .label {
		    background: url('../../../common/imgs/radio-btn-full.svg') left center no-repeat;
		    background-size: 15px;
    	}
    }
}
.fa-black {
	color: #000000;
}

.fa-white {
	color: #FFFFFF;
}

.contact-slider-container {
	@media(min-width:970px) {
		&.closed { width: 50px; }
		&.opened { width: 430px; }
		@include transition(width 250ms ease-in-out);
		z-index: 999999;
		position: fixed;
		top: 22%;
		height: 330px;
		overflow: hidden;
		& .sub-title {
			margin-top: -20px;
		}
		.contact-slider {
			z-index: 4;
			display: block;
	    	width: 50px;
		    height: 325px;
		    position: absolute;
		    padding-top: 65px;
			color: #FFFFFF;
			background-color: $primary-blue;
			& .toggle-button {
		    	position: absolute;
			    right:0;
				width: 50px;
				height: 275px !important;
				text-align: center;
				height: auto;
			    font-size: 25px;
				&:hover { cursor: pointer; }
				& a {
					@include transform( rotate(90deg) );
					@include transform-origin(55% 258%);
					
					/* transform -90deg and transform-origin pair 
						@include transform( rotate(90deg) );
						@include transform-origin( 84% 21% );
					*/
					display: block;
					width: 200px;
					height: 30px;
					&:hover { 
						color: #FFFFFF;
						text-decoration:none;
					}
				}
				& .contact-button-img {
					@include transform( rotate(90deg) );
					width: 50px;
					height: 50px;
					margin-top: 137px;
				}
			}

		}
		label {
			width: 100%;
		}
		& .contact-form {
			height: 325px;
			top: 0;
			border: 1px solid $primary-grey;
			width: 380px;
			display: inline-block;
			background-color: white;
			& .heart-icon {
				margin-top: -25px;
			}
	    	margin-left: -3px;
	    	position: absolute;
		    left: 3px ;
		}
	}

	@media(max-width:970px) {
		@include transition(height 250ms ease-in-out);
		&.closed { height: 50px; & .contact-form { display: none;} }
		&.opened { height: 430px; }
		z-index: 999999;
		position: fixed;
		width: 380px;
		bottom: 0px;
		overflow: hidden;
	    margin-right: -215px;
    	right: 50%;
		& .sub-title {
			margin-top: -20px;
		}
		.contact-slider {
			z-index: 4;
			display: block;
	    	height: 50px;
			width: 380px;
		    position: fixed;
		    bottom: 0;
			color: #FFFFFF;
			background-color: $primary-blue;
			& .toggle-button {
		    	position: absolute;
			    right:0;
				height: 50px !important;
				width: 350px;
				text-align: center;
				height: auto;
			    font-size: 25px;
				&:hover { cursor: pointer; }
				& a {
					display: inline-block;
					margin-top: 13px;
					width: 200px;
					margin-left: -40px;
					height: 30px;
					&:hover { 
						color: #FFFFFF;
						text-decoration:none;
					}
				}
				& .contact-button-img {
					width: 50px;
					height: 50px;
					float: left;
					display: inline;
				}
			}

		}
		label {
			height: 100%;
		}
		& .contact-form {
			height: 325px;
			bottom: 50px;
			border: 1px solid $primary-grey;
			width: 380px;
			display: inline-block;
			background-color: white;
			& .heart-icon {
				margin-top: -25px;
			}
	    	position: fixed;
		}
	}
}
.btn-close-map {
    position: absolute;
    @media(min-width: 992px) {
    	right: 0px;
	}
	@media(max-width: 992px) {
    	right: 40px;
	}
    top: 15px;
    z-index: 105;
	background-color: $secondary-blue;
	&:hover, &:focus { background-color: $primary-blue; color:#FFFFFF; }
	& i {
		margin-top: 3px;
        margin-left: 10px;
	}
}	
.map-container {
	width: 100%;
	
	#googleMap {
		@include transition(height 250ms ease-in-out);
		&.opened { height: 350px; }
		&.closed { height: 0px; overflow: hidden; }
		margin-top: 30px;
		margin-bottom: 30px;
		& .marker-info {
			width: auto;
			height: 80px;
			display: inline-block;
			& .shop-image { width: 80px; height: 80px; float:left; }
			& h5 {
				color: #000000;
			}
			& a {
				.view-shop-page-link { color: $primary-blue };
				&:hover { background-color: $secondary-blue; }
			}
		}
	}

}
.banners {
	& .bordered { @media (min-width: 	1200px) { border: solid 1px #000000; } }
	& .banner-separator { margin-top: 20px; }
	& .banner-img {	width: 100%;}
}
.fa-primary { color: $primary-blue; }
.fa-strong { font-weight: 900; }

.feedback-separator {
    width: 100%;
    display: inline-block;
    margin-top: 55px;
}
.feedback-view {
	width: 120px;
	height: 100px;
    margin-top: -45px;
	padding: 20px;
	padding-top: 0px;
	padding-right: 0px;
	background-color: #FFFFFF;
}
.bottom-bordered {
	border-bottom: solid 2px $primary-grey;
}
.contact-form {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	color: #000000;
	h2, h3 {
		color: $primary-blue;
		margin: 0px;
        font-weight: 700;
	}
    h2 {
        font-size: 36px;
        @media (max-width: 1200px) {
            font-size: 30px;
        }
    }
    h3 {
        font-size: 20px;
    }
	p {
		margin-right: -15px;
	}
    img.pull-right {
        position: absolute;
        top: -20px;
        left: 10px;
    }
	input.form-control {
		background-color: $primary-grey;
        height: 40px;
		&:not(:focus) {
			border-color: $primary-grey;
		}
		@media (max-width: 1200px) {
			height: 30px;
		}
	}
	.radio-group {
		input[type="radio"] {
			float:right;
			display: inline-block;
			display:none;
		}
		p.radio-label {
		    display: inline-block;
		    float: left;
		    padding-top: 3px;
		    margin-right: 5px;
		    font-weight: 100;
		}
	}
	.submit-contact-form {
		background-color: $primary-blue;
		color: #FFFFFF;
		width: 100%;
        height: 40px;
	}
	.styled-radio input[type="radio"] {
	    background-image: url("../../common/imgs/radio-btn-empty.svg");
	    &:checked { background-image: url("../../common/imgs/radio-btn-full.svg"); }
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    width: 15px;
	    height: 15px;
	    cursor:pointer;
	    background-size:contain;
	    background-repeat:no-repeat;
	    display:inline-block;
	}
}

.details-button {
	color: #FFFFFF;
	background-color: $primary-blue;
	&:hover { background-color: $secondary-blue; }
	width: 100%;
}
.xs-sm-height {
	@media(max-width: 767px) { height: 180px; }
	@media(min-width: 767px) { 
		& .featured-cover > div.col-xs-12 {
			margin-top: 10px;
		}
	}
}
.client-featured-img {
	@media(min-width:992px) { margin-top: 5px;}
	@media(max-width:992px) and (min-width:767px){ margin-top: 35px; }
	@media(max-width:767px) { width: 100%; }
	height: auto;
}

.client-featured {
	& a.btn { font-size: 20px; }
	& .xs-buttons a{
		width: 90%;
		margin-left: 5%;
		text-align:center;
	}
}
article {
	z-index: 500;
	& .article-img { width: 100%; }
	& .article-title { color: $primary-blue; }
	& .article-description { color: #000000; }
}
.articles-link {
	color: $primary-blue;
	text-decoration: underline;
	i { margin-top: 3px; }
}
.products {
	& .product-thumbnail { height: 100px;  }
}
.main-thumbnail {
	width: 100%;
	padding: 20px;
	border: solid 1px $primary-grey;
}
.article-details-container {
	height: 85px;
}
.article-details {
	overflow: hidden;
}
.search-box {
	background-color: $secondary-blue;
	border-radius: 2px;
	color: #FFFFFF;
	input { height: 34px; }
	overflow: hidden;
	height: 34px;
	@include transition(width 0.2s ease-in-out);
	&.opened { width: 160px; }
	&.closed { width: 0px; }
	i { 
		@media (min-width: 768px) {
			& { float: left; }
	    }
	    @media (max-width: 768px) {
			& { 
				display: block;
				margin-left: auto;
				margin-right: auto;
			}
	    }
		width: 20px;
		height: 20px;
        margin-top: 6px;
		background-size: 20px 100%;
		background-image: url("../../../common/imgs/search.svg");
	}
	input, input:focus { 
		background-color: $secondary-blue;
		outline: none;
		width: 84%;
		border-style: none;
	}
}

.block-xs {
	@media(max-width:768px) { display: block; }
}
.xs-height {
	@media(max-width:768px) { height: 240px; }
}
.dinamic-content {
	& .featured-cover {
		position: absolute;
		background-color: #FFFFFF;
		width: 100%;
		height: 100%;
		top: 0;
		&.closed  { right: -750px;}
		&.opened { right: 0px;}
		@include transition(right 0.2s ease-in-out);
	}
	& .featured-description {
		display: block;
	}
	& .cover-controls {
		margin-top: 20px;
	}
}
.hidden-overflow {
	overflow: hidden;
}
.btn-primary {
	color: #FFFFFF;
	background-color: $primary-blue;
	height: 30px;
	border: none;
	&:hover { background-color: $secondary-blue; text-decoration: none; cursor: pointer;}
	&.close-button { background-color: #d9534f;}
	&.btn-primary-sm { 
		padding-left: 3px;
		padding-right: 3px;
		padding-top: 7px;
		padding-bottom: 0px;
		font-size: 11px;
		width: 100%;
	}
	&.btn-primary-lg {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 15px;
		padding-left: 15px;
		font-size: 15px;
	}
}
.breadcrumb {
	background-color: #FFFFFF;
    color: #000000;
	& a {	
		color: #000000;
	}
}
.fa-danger {
	color: #FF0000;
}
.no-pad-left {
	padding-left: 2px;
}
h1.page-title {
	font-size: 28px;
	margin: 0px;
	color: #000000;	
}

.btn.btn-header {
	color: #FFFFFF;
	background-color: $primary-blue;
	&:hover {
		background-color: $secondary-blue;
	}
}
.header-buttons {
	& select {
		color: $primary-blue;
	}
}


#page-modal {
	top: -100%;
	@include transition(top 1s ease-in-out);
	width: 100%;
	height: 100%;
    position: fixed;
    z-index: 9999999999;
	&.open {
	    top: 0px;
	}
}
#page-modal .page-modal-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.7;
    z-index: 2;
}
.page-modal-content {
	.popover-image {
		position: absolute;
		z-index: 4;
		max-width: 100%;
		max-height: 100%;
	    transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
	}
	& .popover-video {
		position: absolute;
		z-index: 4;
		width: 100%;
		height: 100%;
	}
    & .close-page-modal {
		top: 30px;
	    right: 30px;
	    z-index: 5;
	    opacity: 1;
	    position: absolute;
	    &:hover {
	    	text-decoration: none;
	    	cursor: pointer;
	    	color: #FFFFFF;
	    }
	}
}
.pull-top-margin {
	margin-top: -30px;
}
.btn-submit-cover {
    margin-left: 60px;
}
.no-pad-right {
	padding-right: 0px;
}