@import "variables"; 

.responsive-slider-container {
	position: absolute;
	overflow: hidden;
	.image-controls {
		.slide-control {
			height: 100%;
			width: 60px;
			.directional-arrow {
				margin-top: -21px;
				position: relative;
				top: 50%;
				opacity: 0.5;
				float: right;
			}
			&:hover i { opacity: 1; cursor: pointer; }
			& i.fa-chevron-circle-right { float: left; margin-left: 10px; }
			& i.fa-chevron-circle-left { float: right; margin-right: 10px; }
			&.prev-slide { float: left; }
			&.next-slide { float: right; }
		}
		position: absolute;
		z-index: 101;
		.total-slides {	
			position: absolute;
			width: 100%;
			bottom: 25px;
			div.total-slides-list {
				.slide-list-item {
					&:hover { cursor: pointer; }
					display: inline-block;
					i.fa {
						margin-left: 5px;
						margin-right: 5px;
					}
				}
			}
		}
	}
	.image-frame {
		.fb-like-button {
			position: absolute;
			width: 40px;
			height: 30px;
			background-color: $primary-blue;
			z-index: 105;
			bottom: 20px;
    		right: 60px;
		}
		height: 100%;
		z-index: 100;
		.image-strip {
			position: absolute;
			@include transition(left 0.5s ease-in-out);
			.slide {
				float: left;
				margin-top: 5px;
				margin-bottom: 5px;
				z-index: 99;
				display: inline-block;
			}
		}
	}
}
.multiple-slider-container.multiple {
	top: 62px !important;
	position: absolute;
	overflow: hidden;
	@media(max-width:992px) { right: 15px; }
	.image-controls {
		top: 0;
		.slide-control {
			&.semi-circle {
				height: 40px;
				width: 20px;
				cursor: pointer;
				background-color: $secondary-blue;
				&:hover { background-color: $primary-blue; }
				&.next-slide { 
					border-radius: 0 90px 90px 0;
					& .directional-arrow {
					    margin-top: 13px;
					    margin-right: 4px;
					    position: relative;
					}
				}
				&.prev-slide {
					float: left;
					border-radius: 90px 0 0 90px;
					& .directional-arrow {
					    margin-top: 13px;
					    margin-right: 4px;
					    position: relative;
					}
				}
			}
		}
		position: absolute;
		z-index: 101;
		.total-slides {	
			position: absolute;
			width: 100%;
			bottom: 25px;
			div.total-slides-list {
				.slide-list-item {
					&:hover { cursor: pointer; }
					display: inline-block;
					i.fa {
						margin-left: 5px;
						margin-right: 5px;
					}
				}
			}
		}
	}
	.image-frame {
		height: 100%;
		z-index: 100;
		.image-strip {
			position: absolute;
			width: 100%;
			@include transition(left 200ms ease-in-out);
			.slide {
				float: left;
				margin-top: 5px;
				margin-bottom: 5px;
				z-index: 99;
				display: inline-block;
			}
		}
	}
}

.clients-slider {
}
.fullscreen-slider-container.fullscreen {
	top: 70px !important;
	margin-bottom: 50px;
	height: 200px;
	position: absolute;
	overflow: hidden;
	.image-controls {
		top: 0;
		width: 100%;
		height: 40px;
		.slide-control {
			&.semi-circle {
				height: 40px;
				width: 20px;
				cursor: pointer;
				background-color: $secondary-blue;
				&:hover { background-color: $primary-blue; }
				&.next-slide { 
					border-radius: 0 90px 90px 0;
					& .directional-arrow {
					    margin-top: 13px;
					    margin-right: 4px;
					    position: relative;
					}
				}
				&.prev-slide {
					float: left;
					border-radius: 90px 0 0 90px;
					& .directional-arrow {
					    margin-top: 13px;
					    margin-right: 4px;
					    position: relative;
					}
				}
			}
		}
		position: absolute;
		z-index: 101;
	}
	.image-frame {
		height: 150px;
		z-index: 100;
		.image-strip {
			position: absolute;
			width: 100%;
			@include transition(left 500ms ease-in-out);
			.slide-cover {
				& .close-coupon {
					margin-top: -12px;
    				cursor: pointer;
    				margin-bottom: 4px;
					color: $primary-blue;
    				&:hover { 
						color: $secondary-blue;
    				}
				}
				& .btn-submit-coupon {
					background-color: $primary-blue;
					color:#FFFFFF;
					&:hover {
						color: #FFFFFF;
						cursor: pointer;
						background-color: $secondary-blue;
					}
				}
				@include transition(top 100ms ease-in-out);
				position: absolute;
				top: 150px;
				height: 150px;
				width: 200px;
				&.active {
					top: 0px;
				}
			}
			.slide {
				.slide-content {
					height: 150px;
					width: 200px;
					img {
						width: 100%;
						height: 100px;
					}
					@include transition(margin-top 100ms ease-in-out);
					&.inactive { margin-top: -150px;}
					&.active { margin-top: 0px; }
				}
				& .slide-description {}
				.action-buttons {
					margin: 0px;
				}
				.action-buttons button {
					color: #FFFFFF;
					background-color: $primary-blue;
					&:hover {
						background-color: $secondary-blue;
					}
					& i { padding-top: 3px; }
					&.btn-phone { padding: 3px; float: right; height: 35px; width: 60%;}
					&.btn-contact { height: 35px; padding: 3px; float: left;width: 39%;}
				}
				height: 150px;
				width: 200px;
				color: #000000;
				float: left;
				margin-top: 5px;
				margin-bottom: 5px;
				z-index: 99;
				display: inline-block;
			}
		}
	}
}


