@import url(https://fonts.googleapis.com/css?family=Arimo:400,700&subset=hebrew,latin);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
/* line 3, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
.responsive-slider-container {
  position: absolute;
  overflow: hidden; }
  /* line 6, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
  .responsive-slider-container .image-controls {
    position: absolute;
    z-index: 101; }
    /* line 7, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
    .responsive-slider-container .image-controls .slide-control {
      height: 100%;
      width: 60px; }
      /* line 10, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
      .responsive-slider-container .image-controls .slide-control .directional-arrow {
        margin-top: -21px;
        position: relative;
        top: 50%;
        opacity: 0.5;
        float: right; }
      /* line 17, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
      .responsive-slider-container .image-controls .slide-control:hover i {
        opacity: 1;
        cursor: pointer; }
      /* line 18, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
      .responsive-slider-container .image-controls .slide-control i.fa-chevron-circle-right {
        float: left;
        margin-left: 10px; }
      /* line 19, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
      .responsive-slider-container .image-controls .slide-control i.fa-chevron-circle-left {
        float: right;
        margin-right: 10px; }
      /* line 20, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
      .responsive-slider-container .image-controls .slide-control.prev-slide {
        float: left; }
      /* line 21, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
      .responsive-slider-container .image-controls .slide-control.next-slide {
        float: right; }
    /* line 25, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
    .responsive-slider-container .image-controls .total-slides {
      position: absolute;
      width: 100%;
      bottom: 25px; }
      /* line 30, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
      .responsive-slider-container .image-controls .total-slides div.total-slides-list .slide-list-item {
        display: inline-block; }
        /* line 31, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
        .responsive-slider-container .image-controls .total-slides div.total-slides-list .slide-list-item:hover {
          cursor: pointer; }
        /* line 33, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
        .responsive-slider-container .image-controls .total-slides div.total-slides-list .slide-list-item i.fa {
          margin-left: 5px;
          margin-right: 5px; }
  /* line 41, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
  .responsive-slider-container .image-frame {
    height: 100%;
    z-index: 100; }
    /* line 44, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
    .responsive-slider-container .image-frame .image-strip {
      position: absolute;
      transition: left 500ms ease-in-out; }
      /* line 47, C:/Users/adi new/Desktop/new-hatankala/david-e/src/common/style/responsive-slider.scss */
      .responsive-slider-container .image-frame .image-strip .slide {
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
        z-index: 99;
        display: inline-block; }

/*# sourceMappingURL=responsive-slider.css.map */