@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700&subset=hebrew,latin);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

$primary-grey: #E7E7E7;
$dark-grey: #8A8A8A;
$primary-blue: #4E9DE0;
$secondary-blue: #8EC7D2;
$tertiary-blue: #24BAC8;
$dark-blue: #276192;
$font-primary: 'Arimo', sans-serif;
$font-stack:    'Open Sans Hebrew', sans-serif;
$font-secondary: 'Open Sans Hebrew Condensed', sans-serif;