@import "../../common/style/variables";
@import "bourbon";
 
.contact-page {
	& .btn-submit-appointment {
		color: #FFFFFF;
		background-color: $primary-blue;
		&:hover { background-color: $secondary-blue; }
	}
	& .breadcrumb {
		background-color: #FFFFFF;
		& a {	
			color: #000000;
		}
	}
	& .responsive {
		width: 100%;
	}
}