@import "../../common/style/variables";
@import "bourbon";

.main-body {
	& .breadcrumb {
		background-color: #FFFFFF;
		& a {	
			color: #000000;
		}
	}
	& .product-slides {
		padding-left: 0px;
	}
	& .rating i {
		color: $primary-blue;
	}
	& .rating a {
	    color: #000000;
	    font-size: 15px;
	    text-decoration: underline;
	    &:hover { cursor: pointer; }
	}
	& .adress {
		color: #000000;
	}
	& .adress-pin {}
	& .btn-phone {
		color: #FFFFFF;
		background-color: $primary-blue;
		&:hover {
			background-color: $secondary-blue;
		}
		& i { padding-top: 3px; }
	}
	& .client-name {
		color: $primary-blue;
		& .name-separator {
			color: $primary-grey;
		}
	}
	& .client-description {
		color: #000000;
	}
	& .details-button {
		color: #FFFFFF;
		background-color: $primary-blue;
		&:hover { background-color: $secondary-blue; }
		width: 100%;
	}
	& article {
		& .article-img { width: 100%; }

		& .article-title {
			color: $primary-blue;
		}

		& .article-description { color: #000000; }
	}
	& .articles-link {
		color: $primary-blue;
		text-decoration: underline;
	}
	& .products {
		& .product-thumbnail { height: 100px;  }
	}
	& .btn-submit-feedback {
		color: #FFFFFF;
		background-color: $primary-blue;
		&:hover { background-color: $secondary-blue; }
	}
	& .btn-submit-appointment {
		color: #FFFFFF;
		background-color: $secondary-blue;
		&:hover { background-color: $primary-blue; }
	}
	& .feedbacks {
		margin-bottom: 30px;	
	}
	& .feedback-form {
		& .uib-datepicker-popup.dropdown-menu {
			width: 288px;
		}
	}
	& .saved-feedback-title {
		& h4 { display: inline-block; }
		& .comment-separator {
			font-size: 20px;
			margin-right: 5px;
			margin-left: 5px;
			color: $primary-blue;
		}
	}
	& .section-title {
		background-color: $primary-blue;
		height: 30px;
		width: auto;
	}
	& .feeback-rating { color: $primary-blue;}
}
#sb {
	padding-left: 0px;
}