footer.container-fluid.margin-top-lg#footer
	.row.text-center.pad-top-lg.pad-bottom-lg
		.col-xs-12.categories.pad-top-lg.pad-bottom-lg
			a.margin-md לקוח פרימיום
			a.margin-md לקוח פרימיום
			a.margin-md לקוח פרימיום
			a.margin-md לקוח פרימיום
			a.margin-md לקוח פרימיום
			a.margin-md לקוח פרימיום
			a.margin-md לקוח פרימיום
			a.margin-md לקוח פרימיום
	.row.copyright.pad-md
		.container
			.col-xs-6.text-right
				p  כל הזכויות שמורות לפורטל חתן כלה
			.col-xs-6.text-left
				p Copyright@2016 hatan calaLTD. All rights reserved
