header.container(ng-controller="headerController as headerCtrl")
	.row.margin-top-lg
		a(href="index.html").col-md-1.col-xs-7.col-xs-push-3.col-sm-push-0.col-sm-5
			.logo

		.hidden-sm.hidden-xs.col-md-6.page-links.margin-top-lg
			a.btn.label-primary.active חתונה
			a.btn.label-primary בר / בת מצווה
			a.btn.label-primary מבצעים חמים 
		
		.col-md-5.col-sm-6.col-xs-3.col-xs-pull-7.col-sm-pull-0.margin-top-lg
			.col-xs-12.col-md-7.pad-top-sm.search-box
				input.pad-right-sm.hidden-xs(type="text",
											ng-model="headerCtrl.searchCriteria",
											ng-keypress="headerCtrl.search($event)")
				i.search.margin-left-sm.margin-bottom-sm
			
			.col-md-5.social-icons.hidden-sm.hidden-xs.pad-top-sm
				span.fb-link.margin-right-md
				span.instagram-link.margin-right-md
				span.gplus-link.margin-right-md
				span.youtube-link.margin-right-md

		.visible-xs.visible-sm.col-sm-1.col-xs-2.margin-top-md.menu-bar
			i.fa.fa-2x.fa-bars.text-primary(ng-click="headerCtrl.isMenuExpanded=!headerCtrl.isMenuExpanded")
		
	.row.margin-top-md.master-menu
		.col-xs-12.pad-top-lg.text-center(ng-class="{false:'closed', true:'expanded'}[headerCtrl.isMenuExpanded]")
			nav.navbar.navbar-default.yamm(role="navigation")
				ul.nav.navbar-nav

					li.dropdown.yamm-fw
						a.dropdown-toggle(target="#", data-toggle="dropdown") מקום לאירוע
						div.cell
							i.fa.fa-sort-desc.fa-3x
						ul.dropdown-menu
							li
								.yamm-content.sub-menu-content
									.row
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
										.col-sm-2.col-xs-4.hidden-xs.hidden-sm
											img.category-image(src="common/imgs/categotyMenu-2.jpg", alt="xxx")

					li.dropdown.yamm-fw
						a.dropdown-toggle(target="#", data-toggle="dropdown") לכלה
						div.cell
							i.fa.fa-sort-desc.fa-3x
						ul.dropdown-menu
							li
								.yamm-content.sub-menu-content
									.row
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
										.col-sm-2.col-xs-4.hidden-xs.hidden-sm
											img.category-image(src="common/imgs/categoryMenu-3.jpg", alt="xxx")
					
					li.dropdown.yamm-fw
						a.dropdown-toggle(target="#", data-toggle="dropdown") לחתן
						div.cell
							i.fa.fa-sort-desc.fa-3x
						ul.dropdown-menu
							li
								.yamm-content.sub-menu-content
									.row
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.hidden-xs.hidden-sm
											img.category-image(src="common/imgs/category-picture.bmp", alt="xxx")
					
					li.dropdown.yamm-fw
						a.dropdown-toggle(target="#", data-toggle="dropdown") צילום אירועים
						div.cell
							i.fa.fa-sort-desc.fa-3x
						ul.dropdown-menu
							li
								.yamm-content.sub-menu-content
									.row
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.hidden-xs.hidden-sm
											img.category-image(src="common/imgs/category-picture.bmp", alt="xxx")

					li.dropdown.yamm-fw
						a.dropdown-toggle(target="#", data-toggle="dropdown") מוזיקה
						div.cell
							i.fa.fa-sort-desc.fa-3x
						ul.dropdown-menu
							li
								.yamm-content.sub-menu-content
									.row
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.hidden-xs.hidden-sm
											img.category-image(src="common/imgs/category-picture.bmp", alt="xxx")

					li.dropdown.yamm-fw
						a.dropdown-toggle(target="#", data-toggle="dropdown") ארגון חתונה
						div.cell
							i.fa.fa-sort-desc.fa-3x
						ul.dropdown-menu
							li
								.yamm-content.sub-menu-content
									.row
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.hidden-xs.hidden-sm
											img.category-image(src="common/imgs/category-picture.bmp", alt="xxx")
					
					li.dropdown.yamm-fw
						a.dropdown-toggle(target="#", data-toggle="dropdown") תכשיטים
						div.cell
							i.fa.fa-sort-desc.fa-3x
						ul.dropdown-menu
							li
								.yamm-content.sub-menu-content
									.row
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.hidden-xs.hidden-sm
											img.category-image(src="common/imgs/category-picture.bmp", alt="xxx")
					
					li.dropdown.yamm-fw
						a.dropdown-toggle(target="#", data-toggle="dropdown") קייטרינג ובר
						div.cell
							i.fa.fa-sort-desc.fa-3x
						ul.dropdown-menu
							li
								.yamm-content.sub-menu-content
									.row
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.pad-bottom-lg.pad-top-lg
											ul
												li.pad-top-lg
													a(href="category.html") צילום אירועים
												li.pad-top-lg
													a(href="category.html") צילום אירועים לחתן
												li.pad-top-lg
													a(href="category.html") לחתן
										.col-sm-2.col-xs-4.hidden-xs.hidden-sm
											img.category-image(src="common/imgs/category-picture.bmp", alt="xxx")
	
