#page-modal(ng-class="{true: 'open'}[modalOpen]")
	.page-modal-wrapper
	.page-modal-content
		a.close-page-modal.fa-2x.fa-white(ng-click="modalOpen=false")
			i.fa.fa-times.pull-left.margin-top-sm.margin-right-md
			| Close
		img.popover-image(src="index/imgs/popover-image.jpg", alt="xxx")