.container(ng-init="isOpen=true")
	.row
		.col-xs-12
			button.btn.btn-close-map#btn-close-map(ng-click="isOpen=!isOpen; ")  {{ isOpen ? 'סגירת' : 'פתיחת' }} מפה
				i.fa.pull-right(ng-class="{ true: 'fa-chevron-up', false: 'fa-chevron-down'}[isOpen]")
.container-responsive.map-container
	.row.no-margin
		.col-xs-12.no-pad
			#googleMap(ng-class="{true: 'opened', false: 'closed'}[isOpen]")