<!--[if lt IE 9]>
	script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
<![endif]-->

meta(name="viewport", content="width=device-width, initial-scale=1")
meta(charset="utf-8")
meta(property="og:title" content="xx")
meta(property="og:site_name" content="xx")
meta(property="og:url" content="xx")
meta(property="og:description" content="xx")
meta(property="og:type" content="article")
meta(property="og:image" content="xx")