.contact-slider-container#stickyContactForm(ng-class="{true:'opened', false:'closed'}[contactFormOpened]")
	.contact-slider.text-center
		.toggle-button
			a.fa-white ארגון אירוע בחינם
			img.contact-button-img(src="client/imgs/icon-heart-white.svg")
	.contact-form.fa-black.pad-lg(ng-click="$event.stopPropagation();")
		.col-xs-12
			.row
				.col-xs-12
					h2.no-margin.margin-top-sm תנו לנו לארגן לכם
					h3.no-margin.margin-top-sm אירוע מושלם בחינם!
					img.margin-left-lg.pull-left.heart-icon(src="index/imgs/icon-heart.svg", alt="xxx")
			.row
				.col-md-8
					p.sub-title מלאו פרטים עכשיו
			.row
				.col-xs-6
					.form
						.form-group
							input.form-control(type="text", placeholder="שם מלא")
				.col-xs-6
					.form
						.form-group
							input.form-control(type="text", placeholder="מספר נייד")
			.row
				.col-xs-6
					.form
						.form-group
							input.form-control(type="text", placeholder="דואר אלקטרוני")
			
				.col-xs-6
					.form
						.form-group
							input.form-control(type="text", placeholder="סוג האירוע")
			.row.margin-left-lg.margin-right-lg.text-center
				.col-xs-6.choice
					label.radio-group.max-width
						input(type="radio", name="contactForm")
						.label
						p.radio-label ארגון אירוע מלא
				.col-xs-6.choice.left
					label.radio-group.max-width
						input(type="radio", name="contactForm")
						.label
						p.radio-label עזרה עם ספקים
			.row.margin-top-lg
				button(type="submit").btn.submit-contact-form.center-block התחלו לארגן עכשיו 