.col-xs-12
#stickyLeft(sticky-bottom, sticky-reference="'stickyBottomReference'")
	.row(ng-show="showCoupons")
		.col-md-3.col-lg-6.col-xs-4
			a(href="sales.html").btn.details-button מבצעים מיוחדים
	.row.margin-top-lg(ng-show="showCoupons")
		article.margin-bottom-lg.col-lg-12.col-md-4.col-sm-6.col-xs-12
			.row
				.col-xs-12
					img.article-img(src="common/imgs/coupon-banner-sm.jpg", alt="xxx")
			.row
				.col-xs-12
					a(href="coupon.html")
						h3.article-title כותרת קופון
			.row
				.col-xs-12
					p.article-description
						| בחצר המלכה הקיץ כבר כאן! תאריכים ומחירים מיוחדים למקדימים בחצר המלכה הקיץ כבר כאן! תאריכים ומחירים מיוחדים למקדימים
			.row
				.col-xs-6.col-xs-offset-6
					a(href="coupon.html").btn.details-button לעמוד המבצע
		article.margin-bottom-lg.col-lg-12.col-md-4.col-sm-6.col-xs-12.hidden-xs
			.row
				.col-xs-12
					img.article-img(src="common/imgs/coupon-banner-sm.jpg", alt="xxx")
			.row
				.col-xs-12
					a(href="coupon.html")
						h3.article-title כותרת קופון
			.row
				.col-xs-12
					p.article-description
						| בחצר המלכה הקיץ כבר כאן! תאריכים ומחירים מיוחדים למקדימים בחצר המלכה הקיץ כבר כאן! תאריכים ומחירים מיוחדים למקדימים
			.row
				.col-xs-6.col-xs-offset-6
					a(href="coupon.html").btn.details-button לעמוד המבצע
		article.margin-bottom-lg.col-lg-12.col-md-4.col-sm-6.col-xs-12.hidden-xs.hidden-sm
			.row
				.col-xs-12
					img.article-img(src="common/imgs/coupon-banner-sm.jpg", alt="xxx")
			.row
				.col-xs-12
					a(href="coupon.html")
						h3.article-title כותרת קופון
			.row
				.col-xs-12
					p.article-description
						| בחצר המלכה הקיץ כבר כאן! תאריכים ומחירים מיוחדים למקדימים בחצר המלכה הקיץ כבר כאן! תאריכים ומחירים מיוחדים למקדימים
			.row
				.col-xs-6.col-xs-offset-6
					a(href="coupon.html").btn.details-button לעמוד המבצע
		.row
			.col-xs-12
				a(href="sales.html").articles-link.pull-left.margin-left-lg
					i.pull-left.fa-angle-double-left.fa.margin-right-sm
					| כל המבצעים

	.row.margin-top-lg(ng-show="showThumbnail")
		.col-xs-12
			img.main-thumbnail.visible-lg(src="category/imgs/main-slider-thumbnail.jpg", alt="xxx")

	.row.products(ng-show="showProducts", ng-class="{true:'visible-lg', false: ''}[lgOnly]")
		.col-xs-12
			.row.margin-top-lg
				.col-xs-4.col-sm-5
					a(href="articals.html").btn.details-button כתבות

		.col-xs-12.col-sm-6.col-lg-12
			.row.margin-top-lg
				.col-xs-6
					img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg", alt="xxx")
				.col-xs-6.fa-black
					a(href="content.html")
						h4 כותרת
					p ברטה מעצבת שמלות כלה ברמה אחרת

		.col-xs-12.col-sm-6.col-lg-12
			.row.margin-top-lg
				.col-xs-6
					img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg", alt="xxx")
				.col-xs-6.fa-black
					a(href="content.html")
						h4 כותרת
					p ברטה מעצבת שמלות כלה ברמה אחרת

		.col-xs-12.col-sm-6.col-lg-12
			.row.margin-top-lg
				.col-xs-6
					img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg", alt="xxx")
				.col-xs-6.fa-black
					a(href="content.html")
						h4 כותרת
					p ברטה מעצבת שמלות כלה ברמה אחרת

		.col-xs-12.col-sm-6.col-lg-12
			.row.margin-top-lg
				.col-xs-6
					img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg", alt="xxx")
				.col-xs-6.fa-black
					a(href="content.html")
						h4 כותרת
					p ברטה מעצבת שמלות כלה ברמה אחרת
			.row
				.col-xs-12
					a(href="articals.html").articles-link.pull-left.margin-left-md
						i.pull-left.fa-angle-double-left.fa.margin-right-sm
						| כל הכתבות
			.row.margin-top-lg