@import "../../common/style/variables";
@import "bourbon";

.coupon-page {
	& .btn.btn-header {
		color: #FFFFFF;
		background-color: $primary-blue;
		&:hover {
			background-color: $secondary-blue;
		}
	}
	& .header-buttons {
		& select {
			color: $primary-blue;
		}
	}
	
	& .saved-feedback-title {
		& h4 { display: inline-block; color: $primary-blue; }
		& .comment-separator {
			font-size: 20px;
			margin-right: 5px;
			margin-left: 5px;
			color: $primary-grey;
		}
	}
	& .coupon-frame {
		border: 2px dotted $primary-grey;
		& .coupon-banner-img {
			width: 100%;
		}
		& .fb-like {
		    position: absolute;
		    bottom: 15px;
		    left: 15px;
		}
		& .coupon-img {
			height: 50%;
		}
		& .btn-primary {
			height: 30px;
			width: 100%;
			color: #FFFFFF;
			background-color: $primary-blue;
			& i { margin-top: 3px; margin-right: 4px;}
		}
		& .btn-secondary {
			width: 100%;
			height: 30px;
   			padding-top: 3px;
			color: #FFFFFF;
			background-color: $secondary-blue;
		}
		& .map-pin {
			width: 30px;
			height: 30px;
			margin-right: 15px;
		}
		& .adress-details {
			display:inline;
		}
	}
}