@import "../../common/style/variables";
@import "bourbon";

.contact-form {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	color: #000000;
	h2, h3 {
		color: $primary-blue;
		margin: 0px;
        font-weight: 700;
	}
    h2 {
        font-size: 36px;
        @media (max-width: 1200px) {
            font-size: 30px;
        }
    }
    h3 {
        font-size: 20px;
    }
	p {
		margin-right: -15px;
	}
    img.pull-right {
        position: absolute;
        top: -20px;
        left: 10px;
    }
	input.form-control {
		background-color: $primary-grey;
        height: 40px;
		&:not(:focus) {
			border-color: $primary-grey;
		}
		@media (max-width: 1200px) {
			height: 30px;
		}
	}
	.radio-group {
		input[type="radio"] {
			float:right;
			display: inline-block;
			display:none;
		}
		p.radio-label {
		    display: inline-block;
		    float: left;
		    padding-top: 3px;
		    margin-right: 5px;
		    font-weight: 100;
		}
	}
	.submit-contact-form {
		background-color: $primary-blue;
		color: #FFFFFF;
		width: 100%;
        height: 40px;
	}
	.styled-radio input[type="radio"] {
	    background-image: url("../../common/imgs/radio-empty.svg");
	    &:checked { background-image: url("../../common/imgs/radio-full.svg"); }
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    width: 15px;
	    height: 15px;
	    cursor:pointer;
	    background-size:contain;
	    background-repeat:no-repeat;
	    display:inline-block;
	}
}
.main-slider {
	height: 392px;
	a[role="button"] {
		display: none;
	}
}

.recent-articles {
	ul {
		border-bottom: solid 2px $primary-grey;
		li	{
			&.selected {
				border-bottom: solid 4px $primary-blue;
				margin: -2px;
				a {
					color: $primary-blue;
				}
			}
			& a {
				color: #000000;
				cursor: pointer;
				&:hover {
					background-color: #FFFFFF;
					color: $primary-blue;
				}
			}
		}
	}
	.panel-row {

		&.ng-hide-remove  { 
		  @include animation(0.5s flipInX ease);
		}

		@-webkit-keyframes flipInX {
		  0% {
		    @include transition(transform perspective(400px), transform rotate3d(1, 0, 0, 90deg));
		    @include transition(transition-timing-function ease-in);
		    opacity: 0;
		  }

		  40% {
		    @include transition(transform perspective(400px), transform rotate3d(1, 0, 0,-20deg));
		    @include transition(transition-timing-function ease-in);
		    transition-timing-function: ease-in;
		  }

		  60% {
		    @include transition(transform perspective(400px), transform rotate3d(1, 0, 0,10deg));
		    opacity: 1;
		  }

		  80% {
		    @include transition(transform perspective(400px), transform rotate3d(1, 0, 0,-5deg));
		  }

		  100% {
		    @include transition(transform perspective(400px));
		  }
		}

		@keyframes flipInX {
		  0% {
		    @include transition(transform perspective(400px), transform rotate3d(1, 0, 0, 90deg));
		    @include transition(transition-timing-function ease-in);
		    opacity: 0;
		  }

		  40% {
		    @include transition(transform perspective(400px), transform rotate3d(1, 0, 0,-20deg));
		    @include transition(transition-timing-function ease-in);
		  }

		  60% {
		  	@include transition(transform perspective(400px), transform rotate3d(1, 0, 0, 10deg));
		    @include transition(transition-timing-function ease-in);
		    opacity: 1;
		  }

		  80% {
		    @include transition(transform perspective(400px), transform rotate3d(1, 0, 0, -5deg));
		  }

		  100% {
		    @include transition(transform perspective(400px));
		  }
		}

		color: #000000;
		.related {
			& > div:not(:last-child) { border-bottom: solid 2px $primary-grey; }
		}
		img.responsive-width {
			max-height: 100%;
			padding: 10px;
		}
		.mainOpenTabImage {
			margin-top: 10px;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		.read-more {
			a {
				color :#337ab7;
			}
			i {
				color: #337ab7;
			    font-size: 1.3em;
				margin-top: 1px;
			}
		}
		.mainOpenTabDesc {
			max-width: 100%;
			padding-left: 10px;
		}
		h3 {
			font-size: 18px;
			font-weight: bold;
		}
		h4 {
			font-size: 14px;
			font-weight: bold;
			margin: 0px;
			padding: 0px
		}
	}
}

.btn-slider {
	color: #FFFFFF;
	background-color: $secondary-blue;
	&:hover {
		color: #FFFFFF;
		background-color: $primary-blue;
	}
}

section.articles {
	margin-top: 35px;
	article {
		@media ( max-width: 768px) { height: auto; }
		@media ( min-width: 768px) and (max-width: 1200px) { height: 470px; }
		@media ( min-width: 1200px) { height: 520px; }
		margin-top: 20px;
    	margin-bottom: 20px;
		& .main-image {
			@media ( max-width: 1200px) { height: 240px; }
			@media ( min-width: 1200px) { height: 250px; }
		}
	}
	color: #000000;
	.article-title {
		color: $secondary-blue;
		margin: -20px 0px 0px 0px;
	}
	.articles-img {
		padding: 0px;
	}
	p.article-body {
		@media ( max-width: 768px) { height: auto; }
		@media ( min-width: 768px) { height: 160px; }
		width: 100%;
		text-align: justify;
		overflow: hidden;
	}
	.margin-top-lg {
		margin-top: -10px;
	}
	.read-more {
		color: #FFFFFF;
		background-color: $primary-blue; 
		width: 100%;
		height: 63px;
		font-size: 16px;
		i { font-style: normal;}
		&:hover {
			background-color:$tertiary-blue;
		}
	}
	.ads {
		@media ( max-width: 768px) { height: auto; }
		@media ( min-width: 768px) { height: 470px; }
		img {
			width: 100%;
			&.main-ad-image {
				@media ( max-width: 1200px) { 
					height: 230px;
    				margin-top: 10px;
    			}
				@media ( min-width: 1200px) { 
					height: 270px;
    				margin-top: 10px;
    			}
			}
			&.img-sm {
				height: 100px;
				width: 100%;	
			}
		}
	} 
}
.last-row {
	.bottom-logo img.responsive {
		height: 70px;
	}
	.text-link {
		border: solid 1px #000000;
		h2 {
			background-color: $primary-grey;
			color: #000000;
			height: 50px;
			margin: 10px;
		}
	}
}
.category-thumbnails {
	.thumbnail-item {
		padding-top: 30px;
		padding-bottom: 30px;
		max-width: 200px;
		height: auto;
		background-color: $primary-blue;
	}
	.category-img {
		height: 50px;
		width: 50px;
	}
	.category-title {
		font-size: 16px;
		color: #FFFFFF;
	}
}