@import url(https://fonts.googleapis.com/css?family=Arimo:400,700&subset=hebrew,latin);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
/* line 2, C:/Users/adi new/Desktop/new-hatankala/david-e/src/index/style/index.scss */
.contact-form {
  color: #000000; }
  /* line 4, C:/Users/adi new/Desktop/new-hatankala/david-e/src/index/style/index.scss */
  .contact-form h2, .contact-form h3 {
    color: #4E9DE0;
    margin: 0px; }
  /* line 8, C:/Users/adi new/Desktop/new-hatankala/david-e/src/index/style/index.scss */
  .contact-form h3, .contact-form p {
    margin-right: -15px; }
  /* line 11, C:/Users/adi new/Desktop/new-hatankala/david-e/src/index/style/index.scss */
  .contact-form input.form-control {
    background-color: #E7E7E7;
    height: 40px; }
    /* line 14, C:/Users/adi new/Desktop/new-hatankala/david-e/src/index/style/index.scss */
    .contact-form input.form-control:not(:focus) {
      border-color: #E7E7E7; }
  /* line 19, C:/Users/adi new/Desktop/new-hatankala/david-e/src/index/style/index.scss */
  .contact-form .radio-group input[type="radio"] {
    float: right;
    display: inline-block; }
  /* line 23, C:/Users/adi new/Desktop/new-hatankala/david-e/src/index/style/index.scss */
  .contact-form .radio-group p.radio-label {
    display: inline-block;
    float: left;
    margin-right: 10px;
    font-weight: 100; }
  /* line 30, C:/Users/adi new/Desktop/new-hatankala/david-e/src/index/style/index.scss */
  .contact-form .submit-contact-form {
    background-color: #4E9DE0;
    color: #FFFFFF;
    width: 100%;
    height: 40px; }

/* line 37, C:/Users/adi new/Desktop/new-hatankala/david-e/src/index/style/index.scss */
.main-slider {
  height: 392px; }
  /* line 39, C:/Users/adi new/Desktop/new-hatankala/david-e/src/index/style/index.scss */
  .main-slider a[role="button"] {
    display: none; }

/*# sourceMappingURL=index.css.map */