doctype html
html(ng-app="categoryModule")
	head
		include ./common/pug-sections/meta.pug
		link(rel="stylesheet", href="category/css/style.css")
		script(src="category/js/app.js")
		script(src="common/js/map_init.js")
	body.category(ng-controller="categoryController as categoryCtrl", ng-click="categoryCtrl.closeContactForm($event)")
		include ./common/pug-sections/sticky-contact.pug
		
		include ./common/pug-sections/header.pug
		include ./common/pug-sections/sticky-header.pug
		
		.container
			.row.margin-top-lg.pad-top-lg
				.col-md-6.fa-black
					h1.page-title שם קטגוריה 
				.col-md-6.no-pad.header-buttons
					.form-inline(ng-init="searchBoxOpened=false")
						a.btn.btn-header.pull-left(ng-click="searchBoxOpened=!searchBoxOpened") חיפוש חופשי
						.search-box.margin-left-md.pull-left(ng-class="{true: 'opened', false: 'closed'}[searchBoxOpened]")
							input.pad-right-sm.hidden-xs(type="text",
														ng-model="headerCtrl.searchCriteria",
														ng-keypress="headerCtrl.search($event)")
							i.search.margin-left-sm.margin-bottom-sm
						.form-group.pull-left(ng-show="!searchBoxOpened")
							select.form-control
								option אזור
								option מרכז
								option צפון
								option דרום
						.form-group.pull-left.margin-left-md(ng-show="!searchBoxOpened")
							select.form-control
								option עיר
								option תל אביב
								option רחובות
								option באר שבע
		
		include ./common/pug-sections/map-section.pug

		.container.margin-bottom-lg.main-body
			.row#stickyNavTarget
				.col-sm-12.hidden-xs
					ol.breadcrumb
						li
							a(href="index.html") בית
						li
							a(href="category.html") לכלה
						li
							a(href="category.html") שמלות כלה
						li
							span שמלות כלה בבאר שבע
			
			.row.margin-md.banners.visible-lg

				.col-lg-5.col-md-6.bordered.pad-md
					img.banner-img.center-block(src="common/imgs/horizontal-banner.jpg", alt="xxx")
				
				.col-lg-2.hidden-md.hidden-sm.hidden-xs
					img.center-block.banner-separator(src="common/imgs/icon-heart-default.svg", alt="xxx")
				
				.col-lg-5.col-md-6.hidden-sm.hidden-xs.bordered.pad-md
					img.banner-img.center-block(src="common/imgs/horizontal-banner.jpg", alt="xxx")

			.row.hidden-sm.hidden-xs.margin-top-lg.pad-top-lg
				.col-md-3.margin-top-lg
					.presentation-thumbnail.pad-md
						img.presentation-img(src='category/imgs/presentation-imgs.jpg', alt='xx')
				.col-md-3.margin-top-lg
					.presentation-thumbnail.pad-md
						img.presentation-img(src='category/imgs/presentation-imgs.jpg', alt='xx')
				.col-md-3.margin-top-lg
					.presentation-thumbnail.pad-md
						img.presentation-img(src='category/imgs/presentation-imgs.jpg', alt='xx')
				.col-md-3.margin-top-lg
					.presentation-thumbnail.pad-md
						img.presentation-img(src='category/imgs/presentation-imgs.jpg', alt='xx')

			.row.margin-top-lg
				.col-xs-12
					p.fa-black.category-description
						|ברוכים הבאים לעמוד שמלות כלה, בדרך כלל, כלה המתכוננת לחתונתה, מתחילה תמיד מבחירת שמלת כלה, הן מרכיב מהותי ביותר עבור כל כלה. עיצוב שמלת כלה הוא עסק יקר ומאפשר מגוון רחב של אפשרויות, חשוב לדעת למי אפשר לפנות ומהו טווח המחירים, עמוד זה מיועד לכן, הכלות לעתיד, כאן תוכלו לקבל הערכה לגבי המחירים והאפשרויות השונות העומדות בפניכן, בחלק זה של האתר תוכלו למצוא את מיטב המעצבים בכל הארץ, עמוד זה יחסוך לכן זמן יקר בחיפוש אחר המעצב או השמלה שעליה חלמתן, כמו כן תוכלו למצוא כל מיני טיפים והצעות לשמלות כלה זולות, יקרות, קלסיות ולהתעדכן בהפקות המתקיימות על ידיי המעצבים, לעתים קרובות.
			.row
				.col-xs-12
					h4.fa-primary נמצאו 151 שמלות כלה
					

			.row.margin-top-lg.no-md-left-margin
				.col-lg-3.col-lg-push-9.col-md-12.no-pad-left.col-sm-12.col-xs-12.margin-top-lg.pad-top-md#sb(ng-init="showProducts=true;lgOnly=true;showThumbnail=true;showCoupons=true")
					include ./common/pug-sections/sticky-left-menu.pug
				

				.col-lg-9.col-lg-pull-3.col-md-12.col-sm-12.col-xs-12.no-pad#stickyBottomReference
					.row
						article.article-expanded.col-xs-12.margin-top-lg.pad-right-lg.col-sm-4.col-md-4.col-lg-4(ng-repeat="item in [0,1,2,3,4,5]")
							.row
								.col-xs-12
									img.article-img(src='/category/imgs/article-expanded.jpg', alt="xxx")
							.article-content
								.row.no-margin-right
									img.article-heart.margin-top-sm(src='/common/imgs/icon-heart-default.svg', alt="xxx")
									a(href="client.html")
										h4.fa-primary.article-name שם בית העסק
								.row.article-details-container.no-margin-right
									.col-xs-12.article-details-container
										p.fa-black.article-details אנחנו ב-פעם בחיים, סטודיו לכלות הממוקם במרכזה של העיר ראשון לציון, מאמינים שכל אחת ואחת מכן ראויה למראה הנסיכותי ביותר לפחות פעם בחיים, ולצורך כך, אנו מעמידים לרשותכן את כל מה שצריך להשגת המראה המיוחל במקום אחד
								.row.no-margin-right
									a(href="coupon.html").col-xs-12
										span.fa-black.fa-strong.article-offer שמלת כלה מקולקציית 2016 ב 5,000 ש"ח בלבד!
							.row.fa-black.margin-top-lg.pad-left-lg.pad-right-lg(ng-init="openCoupon=false")
								.col-xs-4.no-pad
									a(ng-if="!openCoupon").btn.btn-primary.btn-primary-sm 072-3333333
									a(ng-if="openCoupon").btn.btn-primary.btn-primary-sm שלח
								.col-xs-4.pad-right-sm
									a.btn.margin-right-sm.btn-primary.btn-primary-sm(ng-class="{true:'close-button', false: 'closed'}[openCoupon]", ng-click="openCoupon=!openCoupon") {{ openCoupon == true ? 'סגור' : 'הצעת מחיר' }}
								.col-xs-4.no-pad
									a(ng-show="!openCoupon").btn.btn-primary.btn-primary-sm לאתר
							.row
								.col-xs-12.article-cover(ng-class="{true:'opened', false: 'closed'}[openCoupon]")
									| bla ba bla
									.row.fa-black.pad-left-lg.pad-right-lg
										p.contact-form-title מלאו פרטים ונחזור אליכם
										.form-group
											input.form-control(type="text", placeholder="שם מלא")
										.form-group
											input.form-control(type="text", placeholder="טלפון")

					.row.feedback-separator
						.row.bottom-bordered.margin-left-sm.margin-right-sm
						.row
							.col-xs-12
								img.center-block.feedback-view(src="common/imgs/star.svg", alt="xxx")

					.row.margin-top-lg
						.col-xs-12
							.row.margin-bottom-lg.article.client-featured.fa-black.match-cols-height.block-xs(ng-repeat="item in [0,1,2,3,4,5,6,7]", ng-init="open=false")
								.col-sm-4.col-xs-8.col-md-3
									img.pull-right.client-featured-img(src='category/imgs/featured-thumbnail.jpg', alt="xxx")
								.col-xs-4.visible-xs.pad-top-lg.xs-buttons
									.row.margin-top-lg(ng-show="open==true")
										a(ng-click="open=false").btn-primary.btn-primary-lg.pull-left.close-button סגור
									.row.margin-top-lg(ng-show="open==true")
										a.btn-primary.margin-left-lg.btn-primary-lg.pull-left שלח
									.row.margin-top-lg.margin-bottom-lg(ng-show="open==false")
										a.pull-left.fa-2x.btn-primary.margin-left-sm.btn-primary-lg לאתר
									.row.margin-top-lg.margin-bottom-lg(ng-show="open==false")
										a(ng-click="open=true").pull-left.fa-2x.btn-primary.margin-left-sm.btn-primary-lg.margin-top-lg הצעת מחיר
									.row.margin-top-lg.margin-bottom-lg(ng-show="open==false")
										a.pull-left.fa-2x.btn-primary.margin-left-sm.btn-primary-lg 073-3333333
								
								.col-sm-8.col-md-9.col-xs-12.hidden-overflow.pad-right-lg-35 
									
									.row.dinamic-content.block-xs.xs-sm-height.auto-height
										.col-xs-12
											a(href="client.html")
												h4.margin-bottom-lg.text-primary.no-margin שם בית העסק
										.col-xs-12
											p.fa-black.featured-description
												|אנחנו ב-פעם בחיים, סטודיו לכלות הממוקם במרכזה של העיר ראשון לציון, מאמינים שכל אחת ואחת מכן ראויה למראה הנסיכותי ביותר לפחות פעם בחיים, ולצורך כך, אנו מעמידים לרשותכן את כל מה שצריך להשגת המראה המיוחל במקום אחד.
										.row.no-margin-right
											a(href="coupon.html").col-xs-12
												span.fa-black.fa-strong.article-offer שמלת כלה מקולקציית 2016 ב 5,000 ש"ח בלבד!
										.col-xs-12.hidden-xs
											a.pull-left.fa-2x.btn-primary.margin-left-sm.btn-primary-lg לאתר
											a(ng-click="open=true").pull-left.fa-2x.btn-primary.margin-left-sm.btn-primary-lg הצעת מחיר
											a.pull-left.fa-2x.btn-primary.margin-left-sm.btn-primary-lg 073-3333333

										.featured-cover.xs-sm-height(ng-class="{true:'opened',false:'closed'}[open]")
											.col-xs-12
												.row
													.col-xs-12.margin-right-lg.margin-right-sm
														h4.margin-bottom-sm.text-primary.no-margin שם בית העסק
														p.fa-black.margin-top-sm מלאו פרטים ואנו נחזור אליכם בהקדם האפשרי
											.col-xs-12
												.row
													.col-xs-12.margin-right-lg.margin-right-sm
														.form-inline
															.form-group.margin-top-sm.margin-left-lg.pad-left-lg
																input.form-control(type="text", placeholder="שם")
															.form-group.margin-top-sm.margin-left-lg.pad-left-lg
																input.form-control(type="text", placeholder="טלפון")
											.col-xs-12
												.row
													.form-group.margin-right-lg.margin-right-sm
														.checkbox.no-margin
															input(type="checkbox")
															label.margin-right-lg
																| Subscribe to newsletter
											.col-xs-12.hidden-xs
												.row
													.col-xs-6.cover-control-buttons.col-xs-offset-6.margin-left-lg.margin-left-sm
														a(ng-click="open=false").btn-primary.btn-primary-lg.pull-left.close-button סגור
														a.btn-primary.margin-left-lg.btn-primary-lg.pull-left שלח
									

					
					.row.feedback-separator
						.row.bottom-bordered.margin-left-sm.margin-right-sm
						.row
							.col-xs-12 
								img.center-block.feedback-view(src="common/imgs/star.svg", alt="xxx")


					.row
						#stickyRef.col-md-7.col-sm-12.col-lg-12.col-xs-12
							.row.margin-top-lg.fa-black.simple-article.block-xs.match-height(ng-init="simpleArticleOpened=false", ng-repeat="item in [ 0,1,2,3]")
								.col-sm-9.col-xs-12.block-xs
									a(href="client.html")
										h4.fa-primary.no-margin שם בית העסק
									p.fa-black.simple-article-content
										|אנחנו ב-פעם בחיים, סטודיו לכלות הממוקם במרכזה של העיר ראשון לציון, מאמינים שכל אחת ואחת מכן ראויה למראה הנסיכותי ביותר לפחות פעם בחיים, ולצורך כך, אנו מעמידים לרשותכן את כל מה שצריך להשגת המראה המיוחל במקום אחד.
									
									div.simple-article-cover(ng-class="{true:'opened', false: 'closed'}[simpleArticleOpened]")
										.row
											.col-xs-12.margin-right-lg.margin-right-sm
												h3.margin-bottom-lg.text-primary.no-margin שם בית העסק
												p.fa-black.margin-top-lg מלאו פרטים ונחזור אליכם בהקדם האפשרי
										.row
											.col-xs-12.margin-right-lg.margin-right-sm
												.form-inline
													.form-group.margin-top-lg.margin-left-lg.pad-left-lg
														input.form-control(type="text", placeholder="שם")
													.form-group.margin-top-lg.margin-left-lg.pad-left-lg
														input.form-control(type="text", placeholder="טלפון")
										.row
											.form-group.margin-right-lg.margin-right-sm
												.checkbox
													input(type="checkbox")
													label.margin-right-lg
														| Subscribe to newsletter

								.col-sm-3.col-xs-12.margin-top-lg.pad-top-lg.text-center(ng-show="!simpleArticleOpened")
									.col-xs-4.col-sm-12.margin-bottom-lg
										a.fixed.btn-primary.margin-left-sm.btn-primary-lg לאתר
									.col-xs-4.col-sm-12.margin-bottom-lg
										a.fixed.btn-primary.margin-left-sm.btn-primary-lg(ng-click="simpleArticleOpened=!simpleArticleOpened") הצעת מחיר
									.col-xs-4.col-sm-12
										a.fixed.btn-primary.margin-left-sm.btn-primary-lg 0733-33333334
								
								.col-sm-3.col-xs-12.margin-top-lg.pad-top-lg.text-center(ng-show="simpleArticleOpened")
									.col-xs-12.margin-bottom-lg
										a(ng-click="simpleArticleOpened=!simpleArticleOpened").fixed.btn-primary.pull-left.margin-top-lg-sm.margin-left-sm.btn-primary-lg.close-button סגור
										a.fixed.btn-primary.pull-left.margin-top-lg-sm.margin-left-sm.btn-primary-lg שלח

							.row.simple-article-ad.pad-lg.visible-lg
								.col-xs-12.pad-lg
									img(src="category/imgs/horizontal-banner.jpg")

							.row.margin-top-lg.fa-black.simple-article.block-xs.match-height(ng-init="simpleArticleOpened=false", ng-repeat="item in [ 0,1,2,3]")
								.col-sm-9.col-xs-12.block-xs
									a(href="client.html")
										h4.fa-primary.no-margin שם בית העסק
									p.fa-black.simple-article-content
										|אנחנו ב-פעם בחיים, סטודיו לכלות הממוקם במרכזה של העיר ראשון לציון, מאמינים שכל אחת ואחת מכן ראויה למראה הנסיכותי ביותר לפחות פעם בחיים, ולצורך כך, אנו מעמידים לרשותכן את כל מה שצריך להשגת המראה המיוחל במקום אחד.
									
									div.simple-article-cover(ng-class="{true:'opened', false: 'closed'}[simpleArticleOpened]")
										.row
											.col-xs-12.margin-right-lg.margin-right-sm
												h3.margin-bottom-lg.text-primary.no-margin שם בית העסק
												p.fa-black.margin-top-lg מלאו פרטים ונחזור אליכם בהקדם האפשרי
										.row
											.col-xs-12.margin-right-lg.margin-right-sm
												.form-inline
													.form-group.margin-top-lg.margin-left-lg.pad-left-lg
														input.form-control(type="text", placeholder="שם")
													.form-group.margin-top-lg.margin-left-lg.pad-left-lg
														input.form-control(type="text", placeholder="טלפון")
										.row
											.form-group.margin-right-lg.margin-right-sm
												.checkbox
													input(type="checkbox")
													label.margin-right-lg
														| Subscribe to newsletter

								.col-sm-3.col-xs-12.margin-top-lg.pad-top-lg.text-center(ng-show="!simpleArticleOpened")
									.col-xs-4.col-sm-12.margin-bottom-lg
										a.fixed.btn-primary.margin-left-sm.btn-primary-lg לאתר
									.col-xs-4.col-sm-12.margin-bottom-lg
										a.fixed.btn-primary.margin-left-sm.btn-primary-lg(ng-click="simpleArticleOpened=!simpleArticleOpened") הצעת מחיר
									.col-xs-4.col-sm-12
										a.fixed.btn-primary.margin-left-sm.btn-primary-lg 0733-33333334
								
								.col-sm-3.col-xs-12.margin-top-lg.pad-top-lg.text-center(ng-show="simpleArticleOpened")
									.col-xs-4.col-sm-12.margin-bottom-lg
										a(ng-click="simpleArticleOpened=!simpleArticleOpened").fixed.btn-primary.margin-left-sm.btn-primary-lg.close-button סגור
									.col-xs-4.col-sm-12.margin-bottom-lg
										a.fixed.btn-primary.margin-left-sm.btn-primary-lg שלח
						
						.col-md-5.visible-md
						
						#stickyLeftMd.col-md-5.visible-md.category-products(sticky-bottom-md, sticky-reference="'stickyRef'")
							.row
								.col-xs-12
									.row.margin-top-lg
										.col-xs-4.col-sm-4
											a.btn.details-button More details
							
							.row
								.col-xs-12.col-sm-6.col-md-12
									.row.margin-top-lg
										.col-xs-6
											img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg")
										.col-xs-6.fa-black
											h4 כותרת
											p ברטה מעצבת שמלות כלה ברמה אחרת

							.row
								.col-xs-12.col-sm-6.col-md-12
									.row.margin-top-lg
										.col-xs-6
											img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg")
										.col-xs-6.fa-black
											h4 כותרת
											p ברטה מעצבת שמלות כלה ברמה אחרת

							.row
								.col-xs-12.col-sm-6.col-md-12
									.row.margin-top-lg
										.col-xs-6
											img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg")
										.col-xs-6.fa-black
											h4 כותרת
											p ברטה מעצבת שמלות כלה ברמה אחרת

							.row
								.col-xs-12.col-sm-6.col-md-12
									.row.margin-top-lg
										.col-xs-6
											img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg")
										.col-xs-6.fa-black
											h4 כותרת
											p ברטה מעצבת שמלות כלה ברמה אחרת
									.row
										.col-xs-12
											a.articles-link.pull-left.margin-left-md
												i.pull-left.fa-angle-double-left.fa.margin-right-sm
												| לרשימת המאמרים המלאה
									.row.margin-top-lg

					#last-row.row.margin-top-lg.visible-md.visible-lg.last-row
						.col-xs-12.margin-top-lg
							.text-link.text-center.no-pad
								h2.pad-top-md פשוט מיקום לבאנר
									
					.row.margin-top-lg
						.col-xs-12.margin-top-lg.margin-bottom-lg
							ul#custom-pag.center-block
								li 
									a 7
								li
									a 6
								li 
									a 5
								li
									a 4
								li 
									a 3
								li
									a 2
								li
									a 1

					.row.related-links.margin-top-lg.pad-top-lg
						.col-sm-4.col-xs-12.text-center
							ul.no-margin
								li
									a Link 6
								li
									a Link 5
								li
									a Link 4
								li
									a Link 3
								li
									a Link 2
								li
									a Link 1
						.col-sm-4.col-xs-12.text-center.border-right-sm
							ul.no-margin
								li
									a Link 6
								li
									a Link 5
								li
									a Link 4
								li
									a Link 3
								li
									a Link 2
								li
									a Link 1
						.col-sm-4.col-xs-12.text-center.border-right-sm
							ul.no-margin
								li
									a Link 6
								li
									a Link 5
								li
									a Link 4
								li
									a Link 3
								li
									a Link 2
								li
									a Link 1						




					
		include ./common/pug-sections/footer.pug
		script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRMehcutKxgPKGcvmKtZJZ-0DYXQ9LLkM&callback=initMap")