doctype html
html(ng-app="clientModule")
	head
		include ./common/pug-sections/meta.pug
		link(rel="stylesheet", href="client/css/style.css")
		script(src="client/js/app.js")
	body(ng-controller="clientController as clientCtrl", ng-click="clientCtrl.closeContactForm($event)")
		include ./common/pug-sections/header.pug
		include ./common/pug-sections/sticky-header.pug
		.container
			.row.margin-top-lg.pad-top-lg
				.col-md-6
					h1.page-title שם בית העסק

		include ./common/pug-sections/sticky-contact.pug
		include ./common/pug-sections/map-section.pug
		.container.margin-bottom-lg.main-body

			.row#stickyNavTarget
				.col-sm-12.hidden-xs
					ol.breadcrumb
						li
							a בית
						li
							a שם קטגורית אב
						li
							a קטגוריה ספציפית
						li
							span.fa-black שם לקוח


			.row
				
				.col-lg-9.col-md-12.client-slides#stickyBottomReference
					.row.max-height
						.row.max-height.pad-right-lg
							div(responsive-slider="clientCtrl.mainSlides", auto-start="false")
					.row.margin-top-md
						.col-xs-7
							button.btn.btn-phone.pull-right
								i.fa.fa-phone.margin-right-sm.pull-left
								| 072-3333333
							img.pull-right.margin-right-md.adress-pin(src="common/imgs/icon-adress.svg", alt="xxx")
							span.adress.pull-right.margin-right-sm.margin-top-sm
								| כתובת בית העסק 
						.col-xs-5.rating
							i.fa.fa-star.fa-2x.pull-left
							i.fa.fa-star.fa-2x.pull-left.margin-left-sm
							i.fa.fa-star.fa-2x.pull-left.margin-left-sm
							i.fa.fa-star.fa-2x.pull-left.margin-left-sm
							i.fa.fa-star.fa-2x.pull-left.margin-left-sm
							a.pull-left.margin-left-lg קראו המלצות
						
					.row.margin-top-lg.margin-bottom-lg
						h2.client-name
							| שם הלקוח
							span.name-separator.margin-sm //
							| קטגוריה קשורה
						p.client-description
							| את מתחתנת? מזל טוב. עכשיו תני לנו לעשות סדר עבורך. לאחר שסגרתם את המקום לאירוע וקבעתם תאריך, הגיע הזמן לתכנן את שאר האירוע. כמובן אחד הדברים החשובים הוא המראה שלך, הכלה, המורכב מבחירת שמלת כלה, עיצוב שיער, איפור, נעליים וזר פרחים. כל זה ועוד תוכלי למצוא בפורטל חתן כלה ללא כל מאמץ. אז לפני שאת מתחילה בחיפושים מפרכים בכל הרשת, אנו מציעים לך בכל שאלה, עזרה, לפנות לנציג מטעמנו, אשר יכוון אותך לספק המתאים במחיר המתאים ואף ינתב אותך להמשך ארגון האירוע

						p.client-description
							| את מתחתנת? מזל טוב. עכשיו תני לנו לעשות סדר עבורך. לאחר שסגרתם את המקום לאירוע וקבעתם תאריך, הגיע הזמן לתכנן את שאר האירוע. כמובן אחד הדברים החשובים הוא המראה שלך, הכלה, המורכב מבחירת שמלת כלה, עיצוב שיער, איפור, נעליים וזר פרחים. כל זה ועוד תוכלי למצוא בפורטל חתן כלה ללא כל מאמץ. אז לפני שאת מתחילה בחיפושים מפרכים בכל הרשת, אנו מציעים לך בכל שאלה, עזרה, לפנות לנציג מטעמנו, אשר יכוון אותך לספק המתאים במחיר המתאים ואף ינתב אותך להמשך ארגון האירוע

						p.client-description
							| את מתחתנת? מזל טוב. עכשיו תני לנו לעשות סדר עבורך. לאחר שסגרתם את המקום לאירוע וקבעתם תאריך, הגיע הזמן לתכנן את שאר האירוע. כמובן אחד הדברים החשובים הוא המראה שלך, הכלה, המורכב מבחירת שמלת כלה, עיצוב שיער, איפור, נעליים וזר פרחים. כל זה ועוד תוכלי למצוא בפורטל חתן כלה ללא כל מאמץ. אז לפני שאת מתחילה בחיפושים מפרכים בכל הרשת, אנו מציעים לך בכל שאלה, עזרה, לפנות לנציג מטעמנו, אשר יכוון אותך לספק המתאים במחיר המתאים ואף ינתב אותך להמשך ארגון האירוע.    
					
					.row.feedback-form
						.row
							.col-xs-12
								h3.fa-black.margin-right-lg
									| צרו עימנו קשר לכל שאלה ואנו נחזור אליכם בהקדם
						.row
							form
								.col-xs-12
									.row
										.col-xs-4
											.form-group
												input.inline-input.form-control(type="text", placeholder=" שמכם המלא")
										.col-xs-4
											.form-group
												input.inline-input.form-control(type="text", placeholder=" מספר הנייד שלכם")
										.col-xs-4
											.form-group
												input.inline-input.form-control(type="text", placeholder=" דואר אלקטרוני")
								
								.col-xs-12
									textarea.form-control

								.col-xs-12.margin-top-lg
									button.btn.btn-submit-appointment.pull-left שליחה

					.row.margin-bottom-lg

						h4.fa-black.text-center
							| - אפשרות לתגובות פייסבוק כאן -
					.row.feedback-separator
						.row.bottom-bordered.margin-left-sm.margin-right-sm
						.row
							.col-xs-12
								img.center-block.feedback-view(src="client/imgs/star.svg", alt="xxx")
					.row.feedback-form
						.row
							.col-xs-12
								h3.fa-black.margin-right-lg
									| כתבו המלצה לשם בית העסק
						.row
							form
								.col-xs-12
									.row
										.col-xs-4
											.form-group
												input.inline-input.form-control(type="text", placeholder=" שם הממליצים")
										.col-xs-4(ng-init="dpIsOpen=false")
											.input-group.fa-black
												span.input-group-btn
													button.btn.btn-default(type="button", ng-click="dpIsOpen=!dpIsOpen")
														i.fa.fa-calendar
												input.form-control.pull-left(type="text", uib-datepicker-popup="{{clientCtrl.datePickerFormat}}", datepicker-options="clientCtrl.dateOptions", is-open="dpIsOpen", ng-model="clientCtrl.selectedDate", placeholder=" תאריך האירוע")

										.col-xs-4.rating
											i.fa.fa-star.fa-2x.pull-left
											i.fa.fa-star.fa-2x.pull-left.margin-left-sm
											i.fa.fa-star.fa-2x.pull-left.margin-left-sm
											i.fa.fa-star.fa-2x.pull-left.margin-left-sm
											i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								
								.col-xs-12
									textarea.form-control

								.col-xs-12.margin-top-lg
									button.btn.btn-submit-feedback.pull-left הוספת המלצתכם

					.row.margin-top-lg
						.col-xs-12.margin-top-lg
							span.pad-md.section-title ההמלצות שלנו

					.row.feebacks
						.col-xs-12.margin-top-lg.saved-feedback-title
							h4.fa-black שי וענבל
							span.comment-separator //
							h4.fa-black תאריך האירוע 22.04.2016

						.row
							.col-xs-12
								p.fa-black
									|את מתחתנת? מזל טוב. עכשיו תני לנו לעשות סדר עבורך. לאחר שסגרתם את המקום לאירוע וקבעתם תאריך, הגיע הזמן לתכנן את שאר  האירוע. כמובן אחד הדברים החשובים הוא המראה שלך, הכלה, המורכב מבחירת שמלת כלה, עיצוב שיער, איפור, נעליים וזר פרחים. כל זה ועוד תוכלי למצוא בפורטל חתן כלה ללא כל מאמץ. אז לפני שאת מתחילה בחיפושים מפרכים בכל הרשת, אנו מציעים לך בכל שאלה, עזרה, לפנות לנציג מטעמנו, אשר יכוון אותך לספק המתאים במחיר המתאים ואף ינתב אותך להמשך ארגון האירוע 
						.row
							.col-xs-12.margin-bottom-lg.feeback-rating
								i.fa.fa-star.fa-2x.pull-left
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
					.row.feebacks
						.col-xs-12.margin-top-lg.saved-feedback-title
							h4.fa-black שי וענבל
							span.comment-separator //
							h4.fa-black תאריך האירוע 22.04.2016

						.row
							.col-xs-12
								p.fa-black
									|את מתחתנת? מזל טוב. עכשיו תני לנו לעשות סדר עבורך. לאחר שסגרתם את המקום לאירוע וקבעתם תאריך, הגיע הזמן לתכנן את שאר  האירוע. כמובן אחד הדברים החשובים הוא המראה שלך, הכלה, המורכב מבחירת שמלת כלה, עיצוב שיער, איפור, נעליים וזר פרחים. כל זה ועוד תוכלי למצוא בפורטל חתן כלה ללא כל מאמץ. אז לפני שאת מתחילה בחיפושים מפרכים בכל הרשת, אנו מציעים לך בכל שאלה, עזרה, לפנות לנציג מטעמנו, אשר יכוון אותך לספק המתאים במחיר המתאים ואף ינתב אותך להמשך ארגון האירוע 
						.row
							.col-xs-12.margin-bottom-lg.feeback-rating
								i.fa.fa-star.fa-2x.pull-left
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
					.row.feebacks
						.col-xs-12.margin-top-lg.saved-feedback-title
							h4.fa-black שי וענבל
							span.comment-separator //
							h4.fa-black תאריך האירוע 22.04.2016

						.row
							.col-xs-12
								p.fa-black
									|את מתחתנת? מזל טוב. עכשיו תני לנו לעשות סדר עבורך. לאחר שסגרתם את המקום לאירוע וקבעתם תאריך, הגיע הזמן לתכנן את שאר  האירוע. כמובן אחד הדברים החשובים הוא המראה שלך, הכלה, המורכב מבחירת שמלת כלה, עיצוב שיער, איפור, נעליים וזר פרחים. כל זה ועוד תוכלי למצוא בפורטל חתן כלה ללא כל מאמץ. אז לפני שאת מתחילה בחיפושים מפרכים בכל הרשת, אנו מציעים לך בכל שאלה, עזרה, לפנות לנציג מטעמנו, אשר יכוון אותך לספק המתאים במחיר המתאים ואף ינתב אותך להמשך ארגון האירוע 
						.row
							.col-xs-12.margin-bottom-lg.feeback-rating
								i.fa.fa-star.fa-2x.pull-left
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
					.row.feebacks
						.col-xs-12.margin-top-lg.saved-feedback-title
							h4.fa-black שי וענבל
							span.comment-separator //
							h4.fa-black תאריך האירוע 22.04.2016

						.row
							.col-xs-12
								p.fa-black
									|את מתחתנת? מזל טוב. עכשיו תני לנו לעשות סדר עבורך. לאחר שסגרתם את המקום לאירוע וקבעתם תאריך, הגיע הזמן לתכנן את שאר  האירוע. כמובן אחד הדברים החשובים הוא המראה שלך, הכלה, המורכב מבחירת שמלת כלה, עיצוב שיער, איפור, נעליים וזר פרחים. כל זה ועוד תוכלי למצוא בפורטל חתן כלה ללא כל מאמץ. אז לפני שאת מתחילה בחיפושים מפרכים בכל הרשת, אנו מציעים לך בכל שאלה, עזרה, לפנות לנציג מטעמנו, אשר יכוון אותך לספק המתאים במחיר המתאים ואף ינתב אותך להמשך ארגון האירוע 
						.row
							.col-xs-12.margin-bottom-lg.feeback-rating
								i.fa.fa-star.fa-2x.pull-left
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
								i.fa.fa-star.fa-2x.pull-left.margin-left-sm
				.col-lg-3.visible-lg.pad-top-sm#sb(sticky-bottom, sticky-reference="'stickyBottomReference'", ng-init="showProducts=true;lgOnly=true;showCoupons=true")
					include ./common/pug-sections/sticky-left-menu.pug

		include ./common/pug-sections/footer.pug
		script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRMehcutKxgPKGcvmKtZJZ-0DYXQ9LLkM&callback=initMap")