doctype html
html(ng-app="contentModule")
	head
		include ./common/pug-sections/meta.pug
		link(rel="stylesheet", href="content/css/style.css")
		script(src="content/js/app.js")
		
	body.content-page(ng-controller="contentController as contentCtrl", ng-click="contentCtrl.closeContactForm($event)")
		include ./common/pug-sections/header.pug
		include ./common/pug-sections/sticky-header.pug
		
		.container
			.row.margin-top-lg.pad-top-lg
				.col-md-6
					h1.page-title כותרת התוכן

		include ./common/pug-sections/sticky-contact.pug
		
		.container

			.row
				.col-xs-12.margin-top-lg.no-pad
					img.responsive(src="content/imgs/content-banner.jpg", alt="xxx")
			.row.margin-top-lg#stickyNavTarget
				.col-sm-12.hidden-xs.no-pad-right
					ol.breadcrumb
						li
							a בית
						li
							a שם קטגורית אב
						li
							a קטגוריה ספציפית
						li
							span.fa-black שם לקוח	
			.row
				.col-lg-9.col-md-12.col-sm-12.col-xs-12.fa-black.no-pad-right
					h2.fa-black כותרת התוכן
					p.fa-black 
						|ורנשטיין כתב בנוסף כי אור עשתה מעשה פשיטת רגל כאשר מכרה את אותה דירה בפרויקט מציצים הן לשלי נרקיס ועו"ד מימון לוזון, ועל כן הוציא גם צו כינוס לנכסיה. "אור מסרה מידע חלקי ומטעה, לא הקפידה על הפקדת כספים בנאמנות ועוד", הוסיף אורנשטיין שהוציא נגד אור צו עיכוב יציאה מהארץ. עו"ד ארז מונה כבעל התפקיד. אורנשטיין גם שלח מסר לנבחרי הציבור בפסק הדין. "טוב יעשה המחוקק אם יפעל בנושא פעילות קבוצות הרכישה על מנת למנוע מעשים דומים, ובדגש על עירוב כספי המשקיעים הפרויקטים". אורנשטיין דחה את הבקשה לעיכוב ביצוע. "יגרם נזק אם צו כינוס הנכסים לא יכנס לתוקף", קבע אורנשטיין. "עובדי החברה מחכים בכיליון עיניים לצו כדי לקבל את כספם מהביטוח הלאומי. עסקינן בהליך שנמשך מספר חודשים וההכרעה התעכבה לאור התנגדות של בעלת השליטה. באשר לטענה שמדובר במצב בלתי הפיך, זהו צו כינוס ולא צו פשיטת רגל. איני רואה כיצד יגרם לה נזק". עורך הדין של אור, אוריאל זעירא, ביקש מהשופט אורנשטיין להוציא צו עיכוב ביצוע ל-14 יום על מנת להגיש ערעור לבית המשפט העליון. לדבריו, "כינוס נכסים זה נזק בלתי הפיך לאור. המפרק עו"ד ארז מצוי בניגוד עניינים והביע דעתו נגד אור, ועל כן אין זה סביר שימונה למנהל המיוחד". המפרק הזמני, עו"ד ארז התנגד לעניין עיכוב הביצוע על כינוס הנכסים. "אין לחייבת כסף לשלם, אפילו לא 5,000 שקל". לעניין פירוק החברות הוסיף ארז: "מדברים פה על מאזן נוחות, והנוחות שצריך לחשוב עליה היא של הנושים. יש תכשיטים, יש דירות ואי המימוש שלהם מעכב אותנו בהשלמת פרויקטים". "הגיע הזמן לשים סוף לכל ההתנהלות של אור והספינים ופסק הדין של השופט אורנשטיין ברור בנקודה זו", הוסיף עו"ד ארז. "יקח שנתיים-שלוש עד שנחזיר כסף לרוכשים, מוקדם לדעת איזה דיבידנד יקבלו בחזרה. חבל על החמישה חודשים שעברו. להערכתי 15 מיליון שקל התאדו. צריך להתחיל למכור קרקעות כדי להחזיר כסף". ורנשטיין כתב בנוסף כי אור עשתה מעשה פשיטת רגל כאשר מכרה את אותה דירה בפרויקט מציצים הן לשלי נרקיס ועו"ד מימון לוזון, ועל כן הוציא גם צו כינוס לנכסיה. "אור מסרה מידע חלקי ומטעה, לא הקפידה על הפקדת כספים בנאמנות ועוד", הוסיף אורנשטיין שהוציא נגד אור צו עיכוב יציאה מהארץ. עו"ד ארז מונה כבעל התפקיד. אורנשטיין גם שלח מסר לנבחרי הציבור בפסק הדין. "טוב יעשה המחוקק אם יפעל בנושא פעילות קבוצות הרכישה על מנת למנוע מעשים דומים, ובדגש על עירוב כספי המשקיעים הפרויקטים". אורנשטיין דחה את הבקשה לעיכוב ביצוע. "יגרם נזק אם צו כינוס הנכסים לא יכנס לתוקף", קבע אורנשטיין. "עובדי החברה מחכים בכיליון עיניים לצו כדי לקבל את כספם מהביטוח הלאומי. עסקינן בהליך שנמשך מספר חודשים וההכרעה התעכבה לאור התנגדות של בעלת השליטה. באשר לטענה שמדובר במצב בלתי הפיך, זהו צו כינוס ולא צו פשיטת רגל. איני רואה כיצד יגרם לה נזק". עורך הדין של אור, אוריאל זעירא, ביקש מהשופט אורנשטיין להוציא צו עיכוב ביצוע ל-14 יום על מנת להגיש ערעור לבית המשפט העליון. לדבריו, "כינוס נכסים זה נזק בלתי הפיך לאור. המפרק עו"ד ארז מצוי בניגוד עניינים והביע דעתו נגד אור, ועל כן אין זה סביר שימונה למנהל המיוחד". המפרק הזמני, עו"ד ארז התנגד לעניין עיכוב הביצוע על כינוס הנכסים. "אין לחייבת כסף לשלם, אפילו לא 5,000 שקל". לעניין פירוק החברות הוסיף ארז: "מדברים פה על מאזן נוחות, והנוחות שצריך לחשוב עליה היא של הנושים. יש תכשיטים, יש דירות ואי המימוש שלהם מעכב אותנו בהשלמת פרויקטים". "הגיע הזמן לשים סוף לכל ההתנהלות של אור והספינים ופסק הדין של השופט אורנשטיין ברור בנקודה זו", הוסיף עו"ד ארז. "יקח שנתיים-שלוש עד שנחזיר כסף לרוכשים, מוקדם לדעת איזה דיבידנד יקבלו בחזרה. חבל על החמישה חודשים שעברו. להערכתי 15 מיליון שקל התאדו. צריך להתחיל למכור קרקעות כדי להחזיר כסף".


					p.fa-black 
						|ורנשטיין כתב בנוסף כי אור עשתה מעשה פשיטת רגל כאשר מכרה את אותה דירה בפרויקט מציצים הן לשלי נרקיס ועו"ד מימון לוזון, ועל כן הוציא גם צו כינוס לנכסיה. "אור מסרה מידע חלקי ומטעה, לא הקפידה על הפקדת כספים בנאמנות ועוד", הוסיף אורנשטיין שהוציא נגד אור צו עיכוב יציאה מהארץ. עו"ד ארז מונה כבעל התפקיד. אורנשטיין גם שלח מסר לנבחרי הציבור בפסק הדין. "טוב יעשה המחוקק אם יפעל בנושא פעילות קבוצות הרכישה על מנת למנוע מעשים דומים, ובדגש על עירוב כספי המשקיעים הפרויקטים". אורנשטיין דחה את הבקשה לעיכוב ביצוע. "יגרם נזק אם צו כינוס הנכסים לא יכנס לתוקף", קבע אורנשטיין. "עובדי החברה מחכים בכיליון עיניים לצו כדי לקבל את כספם מהביטוח הלאומי. עסקינן בהליך שנמשך מספר חודשים וההכרעה התעכבה לאור התנגדות של בעלת השליטה. באשר לטענה שמדובר במצב בלתי הפיך, זהו צו כינוס ולא צו פשיטת רגל. איני רואה כיצד יגרם לה נזק". עורך הדין של אור, אוריאל זעירא, ביקש מהשופט אורנשטיין להוציא צו עיכוב ביצוע ל-14 יום על מנת להגיש ערעור לבית המשפט העליון. לדבריו, "כינוס נכסים זה נזק בלתי הפיך לאור. המפרק עו"ד ארז מצוי בניגוד עניינים והביע דעתו נגד אור, ועל כן אין זה סביר שימונה למנהל המיוחד". המפרק הזמני, עו"ד ארז התנגד לעניין עיכוב הביצוע על כינוס הנכסים. "אין לחייבת כסף לשלם, אפילו לא 5,000 שקל". לעניין פירוק החברות הוסיף ארז: "מדברים פה על מאזן נוחות, והנוחות שצריך לחשוב עליה היא של הנושים. יש תכשיטים, יש דירות ואי המימוש שלהם מעכב אותנו בהשלמת פרויקטים". "הגיע הזמן לשים סוף לכל ההתנהלות של אור והספינים ופסק הדין של השופט אורנשטיין ברור בנקודה זו", הוסיף עו"ד ארז. "יקח שנתיים-שלוש עד שנחזיר כסף לרוכשים, מוקדם לדעת איזה דיבידנד יקבלו בחזרה. חבל על החמישה חודשים שעברו. להערכתי 15 מיליון שקל התאדו. צריך להתחיל למכור קרקעות כדי להחזיר כסף". ורנשטיין כתב בנוסף כי אור עשתה מעשה פשיטת רגל כאשר מכרה את אותה דירה בפרויקט מציצים הן לשלי נרקיס ועו"ד מימון לוזון, ועל כן הוציא גם צו כינוס לנכסיה. "אור מסרה מידע חלקי ומטעה, לא הקפידה על הפקדת כספים בנאמנות ועוד", הוסיף אורנשטיין שהוציא נגד אור צו עיכוב יציאה מהארץ. עו"ד ארז מונה כבעל התפקיד. אורנשטיין גם שלח מסר לנבחרי הציבור בפסק הדין. "טוב יעשה המחוקק אם יפעל בנושא פעילות קבוצות הרכישה על מנת למנוע מעשים דומים, ובדגש על עירוב כספי המשקיעים הפרויקטים". אורנשטיין דחה את הבקשה לעיכוב ביצוע. "יגרם נזק אם צו כינוס הנכסים לא יכנס לתוקף", קבע אורנשטיין. "עובדי החברה מחכים בכיליון עיניים לצו כדי לקבל את כספם מהביטוח הלאומי. עסקינן בהליך שנמשך מספר חודשים וההכרעה התעכבה לאור התנגדות של בעלת השליטה. באשר לטענה שמדובר במצב בלתי הפיך, זהו צו כינוס ולא צו פשיטת רגל. איני רואה כיצד יגרם לה נזק". עורך הדין של אור, אוריאל זעירא, ביקש מהשופט אורנשטיין להוציא צו עיכוב ביצוע ל-14 יום על מנת להגיש ערעור לבית המשפט העליון. לדבריו, "כינוס נכסים זה נזק בלתי הפיך לאור. המפרק עו"ד ארז מצוי בניגוד עניינים והביע דעתו נגד אור, ועל כן אין זה סביר שימונה למנהל המיוחד". המפרק הזמני, עו"ד ארז התנגד לעניין עיכוב הביצוע על כינוס הנכסים. "אין לחייבת כסף לשלם, אפילו לא 5,000 שקל". לעניין פירוק החברות הוסיף ארז: "מדברים פה על מאזן נוחות, והנוחות שצריך לחשוב עליה היא של הנושים. יש תכשיטים, יש דירות ואי המימוש שלהם מעכב אותנו בהשלמת פרויקטים". "הגיע הזמן לשים סוף לכל ההתנהלות של אור והספינים ופסק הדין של השופט אורנשטיין ברור בנקודה זו", הוסיף עו"ד ארז. "יקח שנתיים-שלוש עד שנחזיר כסף לרוכשים, מוקדם לדעת איזה דיבידנד יקבלו בחזרה. חבל על החמישה חודשים שעברו. להערכתי 15 מיליון שקל התאדו. צריך להתחיל למכור קרקעות כדי להחזיר כסף".

					p.fa-black 
						|ורנשטיין כתב בנוסף כי אור עשתה מעשה פשיטת רגל כאשר מכרה את אותה דירה בפרויקט מציצים הן לשלי נרקיס ועו"ד מימון לוזון, ועל כן הוציא גם צו כינוס לנכסיה. "אור מסרה מידע חלקי ומטעה, לא הקפידה על הפקדת כספים בנאמנות ועוד", הוסיף אורנשטיין שהוציא נגד אור צו עיכוב יציאה מהארץ. עו"ד ארז מונה כבעל התפקיד. אורנשטיין גם שלח מסר לנבחרי הציבור בפסק הדין. "טוב יעשה המחוקק אם יפעל בנושא פעילות קבוצות הרכישה על מנת למנוע מעשים דומים, ובדגש על עירוב כספי המשקיעים הפרויקטים". אורנשטיין דחה את הבקשה לעיכוב ביצוע. "יגרם נזק אם צו כינוס הנכסים לא יכנס לתוקף", קבע אורנשטיין. "עובדי החברה מחכים בכיליון עיניים לצו כדי לקבל את כספם מהביטוח הלאומי. עסקינן בהליך שנמשך מספר חודשים וההכרעה התעכבה לאור התנגדות של בעלת השליטה. באשר לטענה שמדובר במצב בלתי הפיך, זהו צו כינוס ולא צו פשיטת רגל. איני רואה כיצד יגרם לה נזק". עורך הדין של אור, אוריאל זעירא, ביקש מהשופט אורנשטיין להוציא צו עיכוב ביצוע ל-14 יום על מנת להגיש ערעור לבית המשפט העליון. לדבריו, "כינוס נכסים זה נזק בלתי הפיך לאור. המפרק עו"ד ארז מצוי בניגוד עניינים והביע דעתו נגד אור, ועל כן אין זה סביר שימונה למנהל המיוחד". המפרק הזמני, עו"ד ארז התנגד לעניין עיכוב הביצוע על כינוס הנכסים. "אין לחייבת כסף לשלם, אפילו לא 5,000 שקל". לעניין פירוק החברות הוסיף ארז: "מדברים פה על מאזן נוחות, והנוחות שצריך לחשוב עליה היא של הנושים. יש תכשיטים, יש דירות ואי המימוש שלהם מעכב אותנו בהשלמת פרויקטים". "הגיע הזמן לשים סוף לכל ההתנהלות של אור והספינים ופסק הדין של השופט אורנשטיין ברור בנקודה זו", הוסיף עו"ד ארז. "יקח שנתיים-שלוש עד שנחזיר כסף לרוכשים, מוקדם לדעת איזה דיבידנד יקבלו בחזרה. חבל על החמישה חודשים שעברו. להערכתי 15 מיליון שקל התאדו. צריך להתחיל למכור קרקעות כדי להחזיר כסף". ורנשטיין כתב בנוסף כי אור עשתה מעשה פשיטת רגל כאשר מכרה את אותה דירה בפרויקט מציצים הן לשלי נרקיס ועו"ד מימון לוזון, ועל כן הוציא גם צו כינוס לנכסיה. "אור מסרה מידע חלקי ומטעה, לא הקפידה על הפקדת כספים בנאמנות ועוד", הוסיף אורנשטיין שהוציא נגד אור צו עיכוב יציאה מהארץ. עו"ד ארז מונה כבעל התפקיד. אורנשטיין גם שלח מסר לנבחרי הציבור בפסק הדין. "טוב יעשה המחוקק אם יפעל בנושא פעילות קבוצות הרכישה על מנת למנוע מעשים דומים, ובדגש על עירוב כספי המשקיעים הפרויקטים". אורנשטיין דחה את הבקשה לעיכוב ביצוע. "יגרם נזק אם צו כינוס הנכסים לא יכנס לתוקף", קבע אורנשטיין. "עובדי החברה מחכים בכיליון עיניים לצו כדי לקבל את כספם מהביטוח הלאומי. עסקינן בהליך שנמשך מספר חודשים וההכרעה התעכבה לאור התנגדות של בעלת השליטה. באשר לטענה שמדובר במצב בלתי הפיך, זהו צו כינוס ולא צו פשיטת רגל. איני רואה כיצד יגרם לה נזק". עורך הדין של אור, אוריאל זעירא, ביקש מהשופט אורנשטיין להוציא צו עיכוב ביצוע ל-14 יום על מנת להגיש ערעור לבית המשפט העליון. לדבריו, "כינוס נכסים זה נזק בלתי הפיך לאור. המפרק עו"ד ארז מצוי בניגוד עניינים והביע דעתו נגד אור, ועל כן אין זה סביר שימונה למנהל המיוחד". המפרק הזמני, עו"ד ארז התנגד לעניין עיכוב הביצוע על כינוס הנכסים. "אין לחייבת כסף לשלם, אפילו לא 5,000 שקל". לעניין פירוק החברות הוסיף ארז: "מדברים פה על מאזן נוחות, והנוחות שצריך לחשוב עליה היא של הנושים. יש תכשיטים, יש דירות ואי המימוש שלהם מעכב אותנו בהשלמת פרויקטים". "הגיע הזמן לשים סוף לכל ההתנהלות של אור והספינים ופסק הדין של השופט אורנשטיין ברור בנקודה זו", הוסיף עו"ד ארז. "יקח שנתיים-שלוש עד שנחזיר כסף לרוכשים, מוקדם לדעת איזה דיבידנד יקבלו בחזרה. חבל על החמישה חודשים שעברו. להערכתי 15 מיליון שקל התאדו. צריך להתחיל למכור קרקעות כדי להחזיר כסף".
				.col-lg-3.no-pad-left.col-md-12.col-sm-12.col-xs-12(ng-init="hideThumbnail=true;showCoupons=true;")
					include ./common/pug-sections/sticky-left-menu.pug


		include ./common/pug-sections/footer.pug