doctype html
html(ng-app="contactModule")
	head
		include ./common/pug-sections/meta.pug
		link(rel="stylesheet", href="contact/css/style.css")
		script(src="contact/js/app.js")
		script(src="http://www.youtube.com/player_api")
		
	body.contact-page(ng-controller="contactController as contactCtrl", ng-class="{true:'modal-open',false:''}[modalOpen]")
		include ./common/pug-sections/video-page-wrapper.pug
		include ./common/pug-sections/header.pug
		include ./common/pug-sections/sticky-header.pug
		.container
			.row.margin-top-lg.pad-top-lg
				.col-md-6
					h1.page-title Contact Page

		include ./common/pug-sections/map-section.pug
		include ./common/pug-sections/sticky-contact.pug

		.container.margin-bottom-lg
			.row#stickyNavTarget
				.col-sm-12.hidden-xs
					ol.breadcrumb
						li
							a בית
						li
							a שם קטגורית אב
						li
							a קטגוריה ספציפית
						li
							span.fa-black שם לקוח
			.row.match-col-height
				.col-md-8.col-sm-12.feedback-form.auto-height
					.row
						.col-xs-12
							img.responsive(src='/contact/imgs/contact-us.jpg', alt="xxx")
					.row
						.col-xs-12
							h3.fa-black.margin-right-lg
								| צרו עימנו קשר לכל שאלה ואנו נחזור אליכם בהקדם
					.row
						form
							.col-xs-12
								.row
									.col-xs-4
										.form-group
											input.inline-input.form-control(type="text", placeholder=" שמכם המלא")
									.col-xs-4
										.form-group
											input.inline-input.form-control(type="text", placeholder=" מספר הנייד שלכם")
									.col-xs-4
										.form-group
											input.inline-input.form-control(type="text", placeholder=" דואר אלקטרוני")
							
							.col-xs-12
								textarea.form-control

							.col-xs-12.margin-top-lg
								button.btn.btn-submit-appointment.pull-left שליחה
				
				.col-md-4.contact-form.hidden-sm.hidden-xs.max-height
					.row
						h2 תנו לנו לארגן לכם
						h3 אירוע מושלם בחינם!
					.row
						.col-md-8
							p מלאו פרטים עכשיו
						.col-md-4
							img.pull-right.margin-top-lg(src="index/imgs/icon-heart.svg", alt="xxx")
						.form
							.form-group
								input.form-control(type="text", placeholder="שם מלא")
						.form
							.form-group
								input.form-control(type="text", placeholder="מספר נייד")
						.form
							.form-group
								input.form-control(type="text", placeholder="דואר אלקטרוני")
						.form
							.form-group
								input.form-control(type="text", placeholder="סוג האירוע")
						.row.no-margin
							.col-xs-6.choice
								.form
									.form-group
										label.radio-group
											input(type="radio", name="contactForm")
											.label
											p.radio-label ארגון אירוע מלא
							.col-xs-6.choice.left
								.form
									.form-group
										label.radio-group
											input(type="radio", name="contactForm")
											.label
											p.radio-label עזרה עם ספקים
					.row.margin-top-lg
						button(type="submit").btn.submit-contact-form התחלו לארגן עכשיו 
				
			.row.margin-top-lg.margin-bottom-lg.pad-top-lg.text-center
				.col-xs-12.margin-top-lg.margin-bottom-lg.pad-top-lg.fa-black
					p.no-margin There are many variations of passages of Lorem Ipsum available, but the majority have
					p.no-margin There are many  
					p.no-margin There are many variations of passages 

		include ./common/pug-sections/footer.pug
		script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRMehcutKxgPKGcvmKtZJZ-0DYXQ9LLkM&callback=initMap")