doctype html
html(ng-app="couponModule")
	head
		include ./common/pug-sections/meta.pug
		link(rel="stylesheet", href="coupon/css/style.css")
		script(src="coupon/js/app.js")
	body.coupon-page(ng-controller="couponController as couponCtrl", ng-click="couponCtrl.closeContactForm($event)")
		include ./common/pug-sections/header.pug
		include ./common/pug-sections/sticky-header.pug
		.container
			.row.margin-top-lg.pad-top-lg
				.col-md-6
					h1.page-title כותרת המבצע

		include ./common/pug-sections/sticky-contact.pug

		include ./common/pug-sections/map-section.pug

		.container
			.row#stickyNavTarget
				.col-sm-12.hidden-xs
					ol.breadcrumb
						li
							a בית
						li
							a שם קטגורית אב
						li
							a קטגוריה ספציפית
						li
							span.fa-black שם המבצע
			
			.row
				.col-lg-9.col-md-12.col-sm-12.col-xs-12.margin-top-lg.pad-top-md.fa-black
					.row.coupon-frame.no-margin.match-col-height
						.col-sm-5.col-xs-12.no-pad.auto-height
							.row
								img.coupon-img(src="coupon/imgs/sales-coupon.svg", alt="xxx")
							.row.margin-top-sm
								.col-xs-6
									a.btn.btn-primary.pull-left
										i.fa.fa-phone.pull-left
										| 073-33333334
								.col-xs-6
									a(href="client.html").btn.btn-secondary.pull-right לאתר העסק
							.row
								.col-xs-12.margin-bottom-md
									img.map-pin.pull-right(src="common/imgs/icon-adress.svg", alt="xxx")
									p.adress-details.fa-black כתובת בית העסק 
						.col-sm-7.pad-md.hidden-xs
							.row.no-margin
								img.coupon-banner-img(src="coupon/imgs/coupon-banner.jpg", alt="xxx")
								img.fb-like(src="common/imgs/fb-button.png", alt="xxx")

					.row.margin-top-lg
						.col-xs-12
							.saved-feedback-title
								h4 שם בית העסק
								span.comment-separator //
								h4 קטגורית העסק
						.col-xs-12
							h3.fa-black.margin-top-lg כותרת המבצע
                            
						.col-xs-12.margin-bottom-lg
							p.no-margin.fa-black.featured-description
							| אירוע בר/בת מצווה כולל: עיצוב אולם, בר מתוקים ותפריט קולינרי עשיר הכולל 6 עמדות פתיחה, 8 סוגי סלטים ובחירת פלטת בשרים על האש או מנה אישית לסועד ב - 130 ש"ח לסועד
							p.no-margin.fa-black.featured-description אירוע ברית/ה ערב: בלונים, עיצוב אולם, בר מתוקים ותפריט עשיר ב - 130 ש"ח 
							p.no-margin.fa-black.featured-description אירוע חתונה כולל: עיצוב אולם, חופה, תאורה, הגברה ומסכים, תשליטן, צלם, צלם מגנטים ללא הגבלה, בר מתוקים עשיר הכולל מפל שוקולד ב - 160 ש"ח לסועד
							p.no-margin.fa-black.featured-description * נשארו תאריכים בודדים לאירועי הקיץ הקרוב
					
					.row.margin-top-lg.feedback-separator
						.row.bottom-bordered.margin-left-sm.margin-right-sm
						.row
							.col-xs-12
								img.center-block.feedback-view(src='client/imgs/star.svg', alt="xxx")

					.row
						form
							.col-xs-12
								.row
									.col-xs-4
										.form-group
											input.inline-input.form-control(type="text", placeholder=" שמכם המלא")
									.col-xs-4
										.form-group
											input.inline-input.form-control(type="text", placeholder=" מספר הנייד שלכם")
									.col-xs-4
										.form-group
											input.inline-input.form-control(type="text", placeholder=" דואר אלקטרוני")
							
							.col-xs-12
								textarea.form-control

							.col-xs-12.margin-top-lg
								button.btn.btn-submit-appointment.pull-left שליחה			

				.col-lg-3.col-md-12.col-sm-12.col-xs-12.margin-top-lg.no-pad-left.pad-top-md(ng-init="showCoupons=true;showThumbnail=true;showProducts=true;")
					include ./common/pug-sections/sticky-left-menu.pug
		include ./common/pug-sections/footer.pug
		script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRMehcutKxgPKGcvmKtZJZ-0DYXQ9LLkM&callback=initMap")