html(ng-app="homeModule")
	head
		title זו כותרת העמוד
		include ./common/pug-sections/meta.pug
		link(rel="stylesheet", href="index/style/style.css")
		script(src="index/js/app.js")
	body(ng-controller="homeController as homeCtrl", ng-class="{true:'modal-open',false:''}[modalOpen]")
		include ./common/pug-sections/image-page-wrapper.pug
		include ./common/pug-sections/header.pug
		include ./common/pug-sections/sticky-header.pug
		.container
			.row.home-message
				.col-xs-12.text-center.pad-bottom-md
					h1 חתן כלה - ארגון ארועים - ארגון חתונות
					p אתר חתן כלה מציג עבורכם מגוון נותני שירות בתחום האירועים בכדי לקצר לכם את תהליך ארגון אירוע
		
		.container.margin-bottom-lg
			.row.margin-top-lg.category-thumbnails.hidden-md.hidden-lg
				.col-sm-3.col-xs-6.pad-md
					.thumbnail-item.text-center.center-block
						img.center-block.category-img(src="index/imgs/icon-dress.svg", alt="xxx")
						h2.category-title מקום לאירוע 
				.col-sm-3.col-xs-6.pad-md
					.thumbnail-item.text-center.center-block
						img.center-block.category-img(src="index/imgs/icon-dress.svg", alt="xxx")
						h2.category-title לכלה 
				.col-sm-3.col-xs-6.pad-md
					.thumbnail-item.text-center.center-block
						img.center-block.category-img(src="index/imgs/icon-dress.svg", alt="xxx")
						h2.category-title לחתן 
				.col-sm-3.col-xs-6.pad-md
					.thumbnail-item.text-center.center-block
						img.center-block.category-img(src="index/imgs/icon-dress.svg", alt="xxx")
						h2.category-title צילום אירועים
				.col-sm-3.col-xs-6.pad-md
					.thumbnail-item.text-center.center-block
						img.center-block.category-img(src="index/imgs/icon-dress.svg", alt="xxx")
						h2.category-title מוזיקה לאירוע 
				.col-sm-3.col-xs-6.pad-md
					.thumbnail-item.text-center.center-block
						img.center-block.category-img(src="index/imgs/icon-dress.svg", alt="xxx")
						h2.category-title ארגון חתונה 			
				.col-sm-3.col-xs-6.pad-md
					.thumbnail-item.text-center.center-block
						img.center-block.category-img(src="index/imgs/icon-dress.svg", alt="xxx")
						h2.category-title תכשיטים לאירוע
				.col-sm-3.col-xs-6.pad-md
					.thumbnail-item.text-center.center-block
						img.center-block.category-img(src="index/imgs/icon-dress.svg", alt="xxx")
						h2.category-title קייטרינג ובר 
								
			.row.margin-top-lg.match-col-height
				.col-md-3.contact-form.hidden-sm.hidden-xs.max-height
					.row
						h2 תנו לנו לארגן לכם
						h3 אירוע מושלם בחינם!
					.row
						.col-md-8
							p מלאו פרטים עכשיו
						.col-md-4
							img.pull-right.margin-top-lg(src="index/imgs/icon-heart.svg", alt="xxx")
						.form
							.form-group
								input.form-control(type="text", placeholder="שם מלא")
						.form
							.form-group
								input.form-control(type="text", placeholder="מספר נייד")
						.form
							.form-group
								input.form-control(type="text", placeholder="דואר אלקטרוני")
						.form
							.form-group
								input.form-control(type="text", placeholder="סוג האירוע")
						.row.no-margin
							.col-xs-6.choice
								.form
									.form-group
										label.radio-group
											input(type="radio", name="contactForm")
											.label
											p.radio-label ארגון אירוע מלא
							.col-xs-6.choice.left
								.form
									.form-group
										label.radio-group
											input(type="radio", name="contactForm")
											.label
											p.radio-label עזרה עם ספקים
					.row
						button(type="submit").btn.submit-contact-form התחלו לארגן עכשיו 
				.col-md-9.col-sm-12.col-xs-12.max-height
					div(responsive-slider="homeCtrl.mainSlides", auto-start="true")

			.row.margin-top-lg.margin-bottom-lg#stickyNavTarget

				.col-lg-7.col-lg-push-5.col-md-9.col-md-push-3.col-sm-12.recent-articles
					ul.nav.nav-pills(ng-init="tabIndex=0")

						li.pull-left(ng-class="{true: 'selected', false: ''}[tabIndex==3]", ng-click="tabIndex=3")
							a מאמרים

						li.pull-left(ng-class="{true: 'selected', false: ''}[tabIndex==2]", ng-click="tabIndex=2")
							a עלו לאחרונה

						li.pull-left(ng-class="{true: 'selected', false: ''}[tabIndex==1]", ng-click="tabIndex=1")
							a מומלצים

						li.pull-right(ng-class="{true: 'selected', false: ''}[tabIndex==0]", ng-click="tabIndex=0")
							a חדשות חמות

					.container-fluid.pad-top-md

						.row.panel-row(ng-show="tabIndex==3")
							.row.match-col-height.pad-md
								.col-sm-7.mainOpenTabImage
									.row
										img.responsive(src="index/imgs/article-section-md.jpg", alt="xxx")
									.row
										a(href="content.html")
											h3 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
										p.pad-top-md.mainOpenTabDesc בונוס! כל זוג שייבחר לעשות את חתונתנו אצלנו ב"הסיינדה", יקבל, ללא עלות נוספת, סוויטה מקסימה ומפנקת בכדי שיוכל להתארגן כמו שצריך ביום האירוע ואפילו לישון שם את  
								.col-sm-5.related.hidden-xs.auto-height
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
									
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm2.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
									
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm3.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
							.row.pad-md.read-more
								a.pull-left(href="#")
									| לכל החדשים
									i.pull-left.fa-angle-double-left.fa.margin-right-sm
						.row.panel-row(ng-show="tabIndex==2")
							.row.match-col-height.pad-md
								.col-sm-7.col-xs-12.mainOpenTabImage
									.row
										img.responsive(src="index/imgs/article-section-md.jpg", alt="xxx")
									.row
										a(href="content.html")
											h3 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
										p.pad-top-md.mainOpenTabDesc בונוס! כל זוג שייבחר לעשות את חתונתנו אצלנו ב"הסיינדה", יקבל, ללא עלות נוספת, סוויטה מקסימה ומפנקת בכדי שיוכל להתארגן כמו שצריך ביום האירוע ואפילו לישון שם את  
								.col-sm-5.hidden-xs.related.auto-height
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
									
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm2.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
									
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm3.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
							.row.pad-md.read-more
								a.pull-left(href="#")
									| לכל החדשים
									i.pull-left.fa-angle-double-left.fa.margin-right-sm
						.row.panel-row(ng-show="tabIndex==1")
							.row.match-col-height.pad-md
								.col-sm-7.col-xs-12.mainOpenTabImage
									.row
										img.responsive(src="index/imgs/article-section-md.jpg", alt="xxx")
									.row
										a(href="content.html")
											h3 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
										p.pad-top-md.mainOpenTabDesc בונוס! כל זוג שייבחר לעשות את חתונתנו אצלנו ב"הסיינדה", יקבל, ללא עלות נוספת, סוויטה מקסימה ומפנקת בכדי שיוכל להתארגן כמו שצריך ביום האירוע ואפילו לישון שם את  
								.col-sm-5.hidden-xs.related.auto-height
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
									
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm2.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
									
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm3.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
							.row.pad-md.read-more
								a.pull-left(href="#")
									| לכל החדשים
									i.pull-left.fa-angle-double-left.fa.margin-right-sm
						.row.panel-row(ng-show="tabIndex==0")
							.row.match-col-height.pad-md
								.col-sm-7.col-xs-12.mainOpenTabImage
									.row
										img.responsive(src="index/imgs/article-section-md.jpg", alt="xxx")
									.row
										a(href="content.html")
											h3 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
										p.pad-top-md.mainOpenTabDesc בונוס! כל זוג שייבחר לעשות את חתונתנו אצלנו ב"הסיינדה", יקבל, ללא עלות נוספת, סוויטה מקסימה ומפנקת בכדי שיוכל להתארגן כמו שצריך ביום האירוע ואפילו לישון שם את  
								.col-sm-5.hidden-xs.related.auto-height
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
									
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm2.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
									
									.row.pad-bottom-md.pad-top-md
										.col-xs-6
											img.responsive(src="index/imgs/article-section-sm3.jpg", alt="xxx")
										.col-xs-6
											a(href="content.html")
												h4 סוויטה מתנה לזוגות המתחתנים אצלינו בהסיינדה
							.row.pad-md.read-more
								a.pull-left(href="#")
									| לכל החדשות
									i.pull-left.fa-angle-double-left.fa.margin-right-sm
				
				.col-lg-5.col-lg-pull-7.col-md-3.col-md-pull-9.col-sm-12.presentation-slider
					.row
						a(href="category.html")
							button.margin-top-lg.pad-left-md.pad-right-md.btn.btn-slider שמלות כלה
					.row 
						div(multiple-slider="homeCtrl.presentationSlides")

			.row.margin-top-lg.margin-bottom-lg.banners

				.col-lg-5.col-md-6.hidden-sm.hidden-xs.bordered.pad-md
					img.responsive.pull-left(src="common/imgs/horizontal-banner.jpg", alt="xxx")
				
				.col-lg-2.hidden-md.hidden-sm.hidden-xs
					img.banner-separator.center-block(src="common/imgs/icon-heart-default.svg", alt="xxx")
				
				.col-lg-5.col-md-6.hidden-sm.hidden-xs.bordered.pad-md
					img.responsive.pull-right(src="common/imgs/horizontal-banner.jpg", alt="xxx")
			.row.margin-top-lg.margin-bottom-lg.clients-slider
				.col-lg-12
					.row
						a(href="sales.html")
							button.margin-top-lg.pad-left-md.pad-right-md.btn.btn-slider מבצעים חמים לאירוע
					.row.no-margin.margin-bottom-lg.pad-bottom-lg
						div(full-screen-slider="homeCtrl.categorySlides")

			section.row.margin-top-lg.margin-bottom-lg.articles

				article.col-md-4.col-sm-6.col-xs-12.text-right(ng-repeat="item in [0,1,2,3,4,5]")
					.row.pad-lg
						.col-xs-12.articles-img
							img.center-block.responsive(src="index/imgs/article-mock.png", alt="xxx")
					.row.pad-lg
						a(href="category.html")
							h3.article-title הכל לכלה
						p.article-body 
							| את מתחתנת? מזל טוב. עכשיו תני לנו לעשות סדר עבורך. לאחר שסגרתם את המקום לאירוע וקבעתם תאריך, הגיע הזמן לתכנן את שאר האירוע. כמובן אחד הדברים החשובים הוא המראה שלך, הכלה, המורכב מבחירת שמלת כלה, עיצוב שיער, איפור, נעליים וזר פרחים. כל זה ועוד תוכלי למצוא בפורטל חתן כלה ללא כל מאמץ. אז לפני שאת מתחילה בחיפושים מפרכים בכל הרשת, אנו מציעים לך בכל שאלה, עזרה, לפנות לנציג מטעמנו, אשר יכוון אותך לספק המתאים במחיר המתאים ואף ינתב אותך להמשך ארגון האירוע.
					a(href="category.html").row.pad-lg
						button.btn.read-more.margin-top-lg 
							i.pull-left.fa-angle-double-left.fa.margin-right-sm
							i.pull-right הכל לכלות
				

				article.row.margin-md.banners.hidden-sm.hidden-xs

					.col-lg-5.col-md-6.bordered.pad-md
						img.responsive.center-block(src="common/imgs/horizontal-banner.jpg", alt="xxx")
					
					.col-lg-2.hidden-md.hidden-sm.hidden-xs
						img.center-block.banner-separator(src="common/imgs/icon-heart-default.svg", alt="xxx")
					
					.col-lg-5.col-md-6.hidden-sm.hidden-xs.bordered.pad-md
						img.responsive.center-block(src="common/imgs/horizontal-banner.jpg", alt="xxx")

				article.col-md-4.col-sm-6.col-xs-12.text-right(ng-repeat="item in [0,1,2,3,4]")
					.row.pad-lg
						.col-xs-12.articles-img
							img.center-block.responsive(src="index/imgs/article-mock.png", alt="xxx")
					.row.pad-lg
						a(href="category.html")
							h3.article-title הכל לכלה
						p.article-body 
							| את מתחתנת? מזל טוב. עכשיו תני לנו לעשות סדר עבורך. לאחר שסגרתם את המקום לאירוע וקבעתם תאריך, הגיע הזמן לתכנן את שאר האירוע. כמובן אחד הדברים החשובים הוא המראה שלך, הכלה, המורכב מבחירת שמלת כלה, עיצוב שיער, איפור, נעליים וזר פרחים. כל זה ועוד תוכלי למצוא בפורטל חתן כלה ללא כל מאמץ. אז לפני שאת מתחילה בחיפושים מפרכים בכל הרשת, אנו מציעים לך בכל שאלה, עזרה, לפנות לנציג מטעמנו, אשר יכוון אותך לספק המתאים במחיר המתאים ואף ינתב אותך להמשך ארגון האירוע.
					a(href="category.html").row.pad-lg
						button.btn.read-more.margin-top-lg 
							i.pull-left.fa-angle-double-left.fa.margin-right-sm
							i.pull-right הכל לכלות
				
				article.col-md-4.col-sm-6.col-xs-12.ads.hidden-sm
					.row.pad-sm
						.col-xs-12
							img.main-ad-image.main-image.center-block(src="index/imgs/article-add-md.jpg", alt="xxx")
					.row.pad-sm.hidden-xs
						.col-md-6
							img.pull-left.img-sm(src="index/imgs/article-add.jpg", alt="xxx")
						.col-md-6
							img.pull-right.img-sm(src="index/imgs/article-add.jpg", alt="xxx")
					.row.pad-sm.margin-top-sm.hidden-xs
						.col-md-6
							img.pull-left.img-sm(src="index/imgs/article-add.jpg", alt="xxx")
						.col-md-6
							img.pull-right.img-sm(src="index/imgs/article-add.jpg", alt="xxx")


			.row.margin-top-lg.visible-md.visible-lg.last-row
				.col-md-8.pad-lg
					.text-link.text-center.no-pad
						h2.pad-top-md פשוט מיקום לבאנר

				.col-md-4.bottom-logo.pad-lg
					img.responsive(src="common/imgs/logo.svg", alt="xxx")
		include ./common/pug-sections/footer.pug