html(ng-app="salesModule")
	head
		title זו כותרת העמוד
		include ./common/pug-sections/meta.pug
		link(rel="stylesheet", href="sales/css/style.css")
		script(src="sales/js/app.js")
	body.sales-page(ng-controller="salesController as salesCtrl", ng-click="salesCtrl.closeContactForm($event)")
		
		include ./common/pug-sections/header.pug
		include ./common/pug-sections/sticky-header.pug
		.container
			.row.margin-top-lg.pad-top-lg
				.col-md-6
					h1.page-title עמוד מבצעים

			.row#stickyNavTarget
				.col-sm-12.hidden-xs
					ol.breadcrumb
						li
							a בית
						li
							a שם קטגורית אב
						li
							a קטגוריה ספציפית
						li
							span.fa-black שם לקוח
		include ./common/pug-sections/sticky-contact.pug
		
		
		.container.margin-bottom-lg
			
			.row.margin-bottom-lg.banners

				.col-lg-5.col-md-6.hidden-sm.hidden-xs.bordered.pad-md
					img.responsive.pull-left(src="common/imgs/horizontal-banner.jpg", alt="xxx")
				
				.col-lg-2.hidden-md.hidden-sm.hidden-xs
					img.banner-separator.center-block(src="common/imgs/icon-heart-default.svg", alt="xxx")
				
				.col-lg-5.col-md-6.hidden-sm.hidden-xs.bordered.pad-md
					img.responsive.pull-right(src="common/imgs/horizontal-banner.jpg", alt="xxx")
			
			.row.margin-top-lg.pad-top-lg
				.col-xs-12.main-buttons.margin-top-lg
					a.btn מבצעי אולמות
					a.btn מבצעים לכלה
					a.btn.btn-active מבצעים לחתן
					a.btn מבצעי צלמים
					a.btn מבצעי מוזיקה
					a.btn מבצעי הפקה
					a.btn מבצעי קייטרינג
			.row
				.col-lg-9.col-md-12.col-sm-12.col-xs-12.margin-top-lg.pad-top-md.no-pad-right
					.row.margin-top-lg#stickyBottomReference
						.col-xs-12.no-pad-right
							.row.margin-bottom-lg.article.client-featured.fa-black.match-col-height.block-xs(ng-repeat="item in [0,1,2,3,4,5,6,7,8,9,10]")
								.col-sm-6.col-md-4.col-xs-12.auto-height(ng-init="open=false")
									img.responsive.center-block(src='sales/imgs/featured-thumbnail.jpg', alt="xxx")
								.col-sm-6.col-md-8.col-xs-12.hidden-overflow 
									
									.row.dinamic-content.block-xs.xs-height
										.saved-feedback-title
											a(href="coupon.html")
												h4 שם המבצע
											span.comment-separator //
											h4 שם קטגורית העסק
										p.no-margin.fa-black.featured-description
											|דיל לברית א-ה מינימום 100 מוזמנים 99 ₪ לאורח כולל מע"מ, שירות, מוסיקת רקע ובלונים לשולחנות
										p.no-margin.fa-black.featured-description
											|דיל לברית א-ה מינימום 100 מוזמנים 99 ₪ לאורח כולל מע"מ, שירות, מוסיקת רקע ובלונים לשולחנות
										p.no-margin.fa-black.featured-description
											|דיל לברית א-ה מינימום 100 מוזמנים 99 ₪ לאורח כולל מע"מ, שירות, מוסיקת רקע ובלונים לשולחנות
										p.no-margin.fa-black.featured-description
											|דיל לברית א-ה מינימום 100 מוזמנים 99 ₪ לאורח כולל מע"מ, שירות, מוסיקת רקע ובלונים לשולחנות
									.row

										a.pull-left.btn-primary.margin-left-sm.btn-fb Facebook
										a(ng-click="open=true" href="coupon.html").pull-left.btn-secondary.margin-left-sm לפרטים נוספים
										a.pull-left.margin-left-sm.btn-primary 073-3333333


				.col-lg-3.col-md-12.col-sm-12.col-xs-12.margin-top-lg.no-pad-left.pad-top-md(ng-init="showProducts=true;showThumbnail=true;showCoupons=false;")
					.col-xs-12
					#stickyLeft(sticky-bottom-sales, sticky-reference="'stickyBottomReference'")
						.row(ng-show="showCoupons")
							.col-md-3.col-lg-6.col-xs-4
								a.btn.details-button More details
						.row.margin-top-lg(ng-show="showCoupons")
							article.margin-bottom-lg.col-lg-12.col-md-4.col-sm-6.col-xs-12
								.row
									.col-xs-12
										img.article-img(src="common/imgs/coupon-banner-sm.jpg", alt="xxx")
								.row
									.col-xs-12
										h3.article-title Lorem Ipsilum
								.row
									.col-xs-12
										p.article-description
											| There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
								.row
									.col-xs-6.col-xs-offset-6
										a.btn.details-button Read More
							article.margin-bottom-lg.col-lg-12.col-md-4.col-sm-6.col-xs-12.hidden-xs
								.row
									.col-xs-12
										img.article-img(src="common/imgs/coupon-banner-sm.jpg", alt="xxx")
								.row
									.col-xs-12
										h3.article-title Lorem Ipsilum
								.row
									.col-xs-12
										p.article-description
											| There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
								.row
									.col-xs-6.col-xs-offset-6
										a.btn.details-button More
							article.margin-bottom-lg.col-lg-12.col-md-4.col-sm-6.col-xs-12.hidden-xs.hidden-sm
								.row
									.col-xs-12
										img.article-img(src="common/imgs/coupon-banner-sm.jpg", alt="xxx")
								.row
									.col-xs-12
										h3.article-title Lorem Ipsilum
								.row
									.col-xs-12
										p.article-description
											| There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
								.row
									.col-xs-6.col-xs-offset-6
										a.btn.details-button Read More
							.row
								.col-xs-12
									a.articles-link.pull-left.margin-left-md
										i.pull-left.fa-angle-double-left.fa.margin-right-sm
										| View More

						.row.margin-top-lg(ng-show="showThumbnail")
							.col-xs-12
								img.main-thumbnail.visible-lg(src="category/imgs/main-slider-thumbnail.jpg", alt="xxx")

						.row.products(ng-show="showProducts", ng-class="{true:'visible-lg', false: ''}[lgOnly]")
							.col-xs-12
								.row.margin-top-lg
									.col-xs-4.col-sm-5
										a.btn.details-button כתבות אחרונות

							.col-xs-12.col-sm-6.col-lg-12
								.row.margin-top-lg
									.col-xs-6
										img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg", alt="xxx")
									.col-xs-6.fa-black
										h4 כותרת
										p ברטה מעצבת שמלות כלה ברמה אחרת

							.col-xs-12.col-sm-6.col-lg-12
								.row.margin-top-lg
									.col-xs-6
										img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg", alt="xxx")
									.col-xs-6.fa-black
										h4 כותרת
										p ברטה מעצבת שמלות כלה ברמה אחרת

							.col-xs-12.col-sm-6.col-lg-12
								.row.margin-top-lg
									.col-xs-6
										img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg", alt="xxx")
									.col-xs-6.fa-black
										h4 כותרת
										p ברטה מעצבת שמלות כלה ברמה אחרת

							.col-xs-12.col-sm-6.col-lg-12
								.row.margin-top-lg
									.col-xs-6
										img.pad-top-md.center-block.product-thumbnail(src="client/imgs/product.jpg", alt="xxx")
									.col-xs-6.fa-black
										h4 כותרת
										p ברטה מעצבת שמלות כלה ברמה אחרת
								.row
									.col-xs-12
										a.articles-link.pull-left.margin-left-md
											i.pull-left.fa-angle-double-left.fa.margin-right-sm
											| כל הכתבות
								.row.margin-top-lg
		include ./common/pug-sections/footer.pug