@import "../../common/style/variables";
@import "bourbon";

.sales-page {
	& .saved-feedback-title {
		& h4 { display: inline-block; color: $primary-blue; }
		& .comment-separator {
			font-size: 20px;
			margin-right: 5px;
			margin-left: 5px;
			color: $primary-grey;
		}
	}
	& .main-buttons {
		& a {
			width: 13.4%;
			color: #FFFFFF;
			background-color: #959595;
			&.btn-active {
				background-color: $secondary-blue;
			}
		}
		& a:not(:first-child) { 
			margin-right: 1%;
		}
	}
	& .btn-primary {
		color: #FFFFFF;
		height: 30px;
		border: none;
		padding: 5px;
		background-color: $primary-blue;
	}
	& .btn-secondary {
		color: #FFFFFF;
		height: 30px;
		border: none;
		padding: 5px;
		background-color: $secondary-blue;
	}
	& .btn-fb {
		color: #FFFFFF;
		height: 30px;
		border: none;
		padding: 5px;
		background-color: #3B59A0;
	}
}